<h1>About</h1>

<img id="photo" src="/images/adam_soltys.jpg" alt="Adam Soltys' Ugly Mug" />

<h2>The Basics</h2>

<p>I'm 24 years old and recently graduated from the <a href="http://ww.ubc.ca">University of British Columbia</a> with a degree in computer science.  Right now I'm working for <a href="http://pwgsc.gc.ca/">Public Works and Government Services Canada</a> which is an arm of the Canadian federal government.  I live in a little one-bedroom basement suite in Victoria, British Columbia, with my girlfriend Chelsea who is in her second year of the <a href="http://www.med.ubc.ca/faculty_staff/deansoffice/Island_Medical_Program.htm">Island Medical Program</a>.  Most of our friends and family live in Vancouver on the other side of the water from us so we do a fair bit of travelling and visiting there.</p>

<h2>Work</h2>

<p>At work I make web applications with Adobe <a href="http://www.adobe.com/products/coldfusion/">ColdFusion</a> and <a href="http://www.adobe.com/products/flex/">Flex</a>.  I occasionally do some contract work on the side for local entrepreneurs and my brother-in-law Geoff who lives in Australia.  I like taking on little side projects because they let me dabble with technologies like <a href="http://www.rubyonrails.org/">Ruby on Rails</a> that I wouldn't otherwise be exposed to at my day job.</p>

<h2>Interests</h2>

<p>Reading Wikipedia articles and surfing the Internet is my favourite pastime.  I also like to read books and watch a lot of movies.  I do manage to lead a fairly active lifestyle though, despite my nerdy job and interests, mostly because Chelsea and all of my friends are really energetic and outgoing people.  This winter I've been swimming, snowboarding, indoor rockclimbing, ballroom dancing, and have been running and going to the gym.  I also ride my bike pretty much everywhere I go.  In the summers I like to go hiking, camping, play tennis and lounge in the sun.  This summer I'd like to take up sailing and possibly get a motorcycle license so I can do a road trip to South America.</p>

<p>My taste in music is pretty standard. I mostly just like that old time rock n' roll but I'll listen to and enjoy just about anything depending on my mood.</p>

<h2>Philosophy</h2>

<p>I'm an optimist.  The more I learn and discover what's out there and what's been accomplished, the more I stand in  awe at the magnitude and wonder of human achievement and potential.  My interests cover the entire spectrum of human experience and there are no subjects that I consider to be unimportant or uninteresting.</p>

<p>I have a lot of respect for nature and so I try to lead a relatively simple lifestyle.  I'm against materialism and commercialism.  I look to technology as a means of extending our lifespans, expanding our capacity for knowledge, and improving our methods of production which I believe is the only way to sustain a comfortable first-world lifestyle without resorting to foreign exploitation or a classed society.</p>

<h2>Books I Plan To Read</h2>

<ul>
	<li>Northern Lights - Philip Pullman</li>
	<li>The Call of Cthulu - H.P. Lovecraft </li>
	<li>Hill of Dreams - Arthur Machen</li>
	<li>The Alexandria Quartet - Lawrence Durrell</li>
	<li>The Count of Monte Cristo - Alexandre Dumas</li>
	<li>The League of Extraordinary Gentlemen - Alan Moore</li>
	<li>20,000 Leagues Under the Sea - Jules Verne</li>
	<li>Naked Lunch - Tim Burroughs</li>
	<li>The Shadow of the Sun: My African Life - Ryszard Kapuscinski</li>
	<li>How to Sail Around the World - Hal Roth</li>
	<li>Paradise Lost - John Milton</li>
</ul>

<h2>Books I've Read Recently</h2>

<strong>Liked and Finished</strong>

<ul>
	<li>Tales of Horror and the Supernatural - Arthur Machen</li>
	<li>The Catcher in the Rye - J.D. Salinger</li>
	<li>On The Road - Jack Kerouac</li>
	<li>The Old Man and the Sea - Ernest Hemingway</li>
	<li>100 Years of Solitude - Gabriel Garcia Marquez</li>
	<li>For Whom The Bell Tolls - Ernest Hemingway</li>
	<li>The Undercover Economist - Tim Harford</li>
	<li>The No. 1 Ladies Detective Agency - Alexander McCall Smith</li>
	<li>Still Life with Woodpecker - Tom Robbins</li>
	<li>The Kite Runner - Khaled Hosseini</li>
</ul>

<strong>Attempted but Didn't Get Through</strong>

<ul>
	<li>The Gum Thief - Douglas Coupland</li>
	<li>Midnight's Children - Salman Rushdie</li>
	<li>Hey Nostradamus - Douglas Coupland</li>
	<li>A History of Western Philosophy - Bertrand Russell</li>
	<li>A New Kind of Science - Stephen Wolfram</li>
	<li>Collected Short Stories - Edgar Allan Poe</li>
</ul>

<h2>Movies I Want to See</h2>

<strong>New Releases</strong>

<ul>
	<li>There Will be Blood</li>
	<li>The Assasination of the Outlaw Jesse James by the Coward Robert Ford</li>
	<li>The Diving Bell and the Butterfly</li>
	<li>Miller's Crossing</li>
</ul>

<strong>Classics</strong>

<ul>
	<li>Singin' in the Rain</li>
	<li>Baron Munchhausen</li>
	<li>Deliverance</li>
	<li>The Searchers</li>
	<li>The Rules of the Game</li>
	<li>Stardust</li>
	<li>The Princess Bride</li>
	<li>Sneakers</li>
</ul>

<h2>Movies I've Seen Recently</h2>

<strong>New Releases I Liked</strong>

<ul>
	<li>Into the Wild</li>
	<li>No Country for Old Men</li>
	<li>The Darjeeling Ltd.</li>
	<li>Pan's Labyrinth</li>
	<li>Zodiac</li>
</ul>

<strong>New Releases I Didn't Like So Much</strong>

<ul>
	<li>3:10 to Yuma</li>
	<li>Venus</li>
	<li>A Good Year</li>
</ul>

<strong>Classics (I only ever watch oldies that I know I'll like!)</strong>

<ul>
	<li>Tokyo Story</li>
	<li>Citizen Kane</li>
	<li>8 1/2</li>
	<li>Annie Hall</li>
	<li>Manhattan</li>
	<li>Blood Simple</li>
</ul>

<p>If you want to know more about me and see some photos then feel free to check out my <a href="http://ubc.facebook.com/profile.php?id=21013817">Facebook Page</a>.</p>