<h1>About</h1>

<h2>The Basics</h2>

<p>
	Occupation: Web Developer
	<br />
	Year of Birth: 1983
	<br />
	Current Location: Victoria, British Columbia
</p>

<h2>Interests and Activities</h2>

<ul>
	<li>Rockclimbing</li>
	<li>Snowboarding</li>
	<li>Tennis</li>
	<li>Swimming</li>
	<li>Cycling</li>
	<li>Reading</li>
</ul>	

<h2>Photos</h2>

<p>Coming Soon</p>

<h2>Movies</h2>

<p>Coming Soon</p>

<h2>Books</h2>

<p>Coming Soon</p>
