<h1>About Me</h1>

<h2>The Basics</h2>

<p>I'm 24 years old and recently graduated from the <a href="http://www.ubc.ca">University of British Columbia</a> with a degree in computer science.  Right now I'm working for <a href="http://www.pwgsc.gc.ca/">Public Works and Government Services Canada</a> which is a department of the Canadian federal government.</p>

<img id="ubc" src="/images/ubc_cs.png" title="University of British Columbia - Computer Science" alt="UBC Computer Science" />

<p>I live in Victoria, British Columbia, with my girlfriend Chelsea who is in her second year of the <a href="http://www.med.ubc.ca/faculty_staff/deansoffice/Island_Medical_Program.htm">Island Medical Program</a>.  Most of our friends and family live in Vancouver so we visit there fairly often.</p>

<h2 style="clear: both;">Work</h2>

<p>
	At work I make web applications with Adobe <a href="http://www.adobe.com/products/coldfusion/">ColdFusion</a> and <a href="http://www.adobe.com/products/flex/">Flex</a>.

	I occasionally do some contract work on the side for local entrepreneurs and my brother-in-law Geoff who lives in Australia.  I like taking on little side projects because they let me dabble with technologies like <a href="http://www.rubyonrails.org/">Ruby on Rails</a> that I wouldn't otherwise be exposed to at my day job.
</p>

<h2 style="clear:both;">Interests</h2>

<p>I spend a lot of time surfing the Internet, reading blogs, articles, and Wikipedia.  I also like to read books and watch movies.  I lead a fairly active lifestyle though, despite my nerdy job and interests.</p>

<p>In the summers I like to hike and camp, play tennis, swim, travel, and just lounge out in the sun.  This winter I've been snowboarding, rockclimbing and ballroom dancing.  I'm also planning to take up sailing and get my motorcycle license.  My trusty companion Bill (the bicycle) is my main mode of transportation.</p>

<p>My taste in music is pretty standard. I like that old time rock n' roll but I enjoy just about anything depending on my mood.</p>

<h2 style="clear:both;">Philosophy</h2>

<img id="plato" class="right" src="/images/plato.jpg" style="width: 150px; height: 200px;" title="Plato" alt="Plato" />

<p>I'm an optimist.  The more I learn and discover what's already been accomplished, the more I appreciate the magnitude of human achievement and potential.  You'd be pretty hard pressed to find something that I would consider uninteresting.</p>

<p>I have a lot of respect for nature and I try to lead a relatively simple, low-impact lifestyle.  I think we'd all be better off spending more time face to face with friends and family.</p>