<h1>News Archive</h1>

<% @months.each do |m| %>
	<h2><%= m %> 2008</h2>
	<% posts = @posts.select { |p| p.created_at.strftime('%B') == m } %>
	<% posts.each do |p| %>
		<div class="post">
			<div class="date"><%= p.created_at.strftime('%B %d, %Y') %></div>
			<%= p.body %>
		
			<% if logged_in? %>
				<p>
					<%= link_to 'Edit', edit_post_path(p) %>
				</p>
			<% end %>
		</div>
		<br />
	<% end %>
<% end %>