<h1>News Archive</h1>

<br />

<h2>August 2008</h2>

<div class="post">
	<div class="date">August 18, 2008</div>
	<p>I just arrived back in Victoria after spending the last three weeks in Vancouver and the two weeks before that in Guatemala and Honduras.  The trip was fantastic.  Antigua was picturesque and we had lots of fun trying to muddle our way around without knowing any Spanish.</p>
	
	<p>Honduras was an experience I'll never forget.  My Spanish improved a lot while I was there thanks to five hours a day of one-on-one instruction.  I hope I can keep it up.  We kept ourselves busy in the afternoons and weekends with various activities.  Highlights include a hike up a volcano to within touching distance of an actively flowing lava stream, horseback rides through mountainous jungle, salsa dancing, fine dining in a Spanish Hacienda, visiting some really fascinating and well-preserved Mayan ruins, trips to natural hot springs and an exotic bird sanctuary, and just roaming around and lounging out in the quaint Spanish town of Copan.  Oh, and last but not least, enjoying the many conversations and authentic cuisine of our host and Copan's most famous <em>cocinera</em>: Tina Ramirez!</p>
	
	<p>Back in Vancouver I've been working in the downtown office with my pals and making the most of the great summer weather while it lasts.  We did a camping trip to Ross Lake near Hope that was filled with adventure and good times.  Other than that it's just been lots of beach, BBQs, tennis, and general partying.</p>
	
	<p>It's nice to be back to the quiet and comfort of our place in Victoria now.  I'm looking forward to an exciting year ahead because our good friends Richard and Amy are moving over here.  I'm enrolled in a French course for September that runs Monday/Wednesday from 7-9pm.  I also want to learn how to sail and pick up my motorcycle license.  Of course I'll also continue to work on my Spanish, improve my tennis game, and try to make a dent in my ever-growing reading list.</p>
</div>

<h2>July 2008</h2>

<div class="post">
	<div class="date">July 8, 2008</div>
	
	<p>
		I've been in Vancouver for the past week or so.  The weather has been great for the most part and I've just been staying active and catching up with friends.  I caught the Wimbledon men's tennis final on Sunday morning -- what an epic match!  I'm going to miss tennis while I'm away.
	</p>
	
	<p>
		I seem to have picked the busiest time of the year to take off on vacation from work.  Things are hectic now as we are faced with hard deadlines in August for our two most high profile applications.  We've brought in a couple of former co-op students to help lighten the workload a bit so there are going to be five of us youngsters working together this summer which should be fun.  I leave in two days so I'm just scrambling now to tie up loose ends and delegate my work to other people.  I get the sense that some people are going into panic mode already so it should be interesting to see how chaotic things are when I get back.
	</p>
</div>

<h2>June 2008</h2>

<div class="post">
	<div class="date">June 24, 2008</div>
	<p>
		Chelsea has been in Fort St. James this month on her rural practicum and I've been over in Vancouver quite a lot trying to get into summer mode despite the less than stellar weather we've been having.  This weekend I played some tennis, basketball, football, and hiked the grouse grind (my time was 46:45).
	</p>
	
	<p>
		I finished reading <em>The Sun Also Rises</em> by Ernest Hemingway and got part-way through the <em>Golden Compass</em> but someone put a hold on it at the library so I had to return it before I finished.  I picked up the Communist Manifesto on a whim so we'll see how that goes.
	</p>
	
	<p>
		At work we have a new project to create a 'state of the art' website to showcase our the department's involvement in the 2010 Olympic Games.  Should be fun if I can get started on it before I take off for Honduras.
	</p>	
</div>

<h2>May 2008</h2>

<div class="post">
	<div class="date">May 15, 2008</div>
	<p>
		It's official: I'm going to Honduras.  Specifically, I'm going to <a href="http://www.guacamaya.com/" title="Guacamaya Spanish School">this school</a>.  It's near the border to Guatemala so we'll fly into Guatemala City and then visit <a href="http://en.wikipedia.org/wiki/Antigua_Guatemala" title="Wikipedia Article on Antigua">Antigua</a> for a few days before bussing to <a href="http://en.wikipedia.org/wiki/Copan" title="Wikipedia Article on Cop&aacute;n">Cop&aacute;n</a>.
	</p>
	
	<p>
		I'm fortunate to have some extremely impressive co-workers right now who are helping me with my language skills.  In fact, now that I think about it, almost everyone in my office is either tri- or quad-lingual.  Our new receptionist Claire happens to be a teacher for the Government's official French training courses so she's been having little conversations with me every time I walk by and has been giving me some vocab and grammar lessons.  I've also got Ewa, the previous receptionist, speaking Spanish to me.  I'm starting to get the two languages mixed up a bit but at the same time it's interesting to see how many of the words have common roots.
	</p>
	
	<p>
		On the financial front I've made a new purchase: TORO Venture Inc., a U.S. small-cap oil exploration company.  It's quite a departure from my other Canadian blue-chips with their high dividend payouts.  We'll see if this risky manoeuvre pays off!
	</p>
	
	<p>
		Tennis lessons have been going well.  They're twice a week and consist of a variety of drills and activities designed to focus on a specific aspect of my game like serving, ground strokes, doubles strategy, etc.  I've purchased a new <a href="http://www.midwestsports.com/wilson-k-four-105-k-factor-tennis-racquet-/p/115100W30/" title="Some Sporting Goods Website">Wilson K-Four racket</a> so Roger Federer better watch his back.
	</p>
	
	<p>
		I've recently registered watchmeprogram.com where I plan to create a site that programmers can use to schedule or join in on <a href="http://en.wikipedia.org/wiki/Pair_programming" title="Wikipedia Article on Pair Programming">pair programming</a> sessions.  Recordings (screencasts) of the sessions will be made available on the website afterwards and may be automatically tied to a source code repository or project management system.  The sessions could cover a single feature or module of a project or they might belong to a series which follows the progression of a project over time.  You'll be able to rank the recordings based on their instructional value and level of understanding required.  I came up with the idea in the shower a few days ago after reading <a href="http://nil.checksite.co.uk/post.cfm/pair-programming-session-recording">this article</a> earlier in the day.
	</p>
</div>

<h2>April 2008</h2>

<div class="post">
	<div class="date">April 29, 2008</div>
	<p>
	Things are starting to get a bit hectic at work.  We have more than we can handle right now and there's a lot more coming soon.  It's all good though, I'm happy to be busy.
	</p>
	
	<p>
	Outside of work I've been teaching myself Spanish from an audio book that I took out from the library.  It's going well. I think as long as I continue to practice a little bit every day then by the time July rolls around I'll be able to handle myself just fine in Guatemala.
	</p>
	
	<p>
	I signed up for tennis lessons recently and was supposed to have my first one yesterday but we got rained out so it will be tomorrow instead if the weather cooperates.  I'm hoping to finally be able to compete with Chelsea by the time I finish in June.
	</p>
	
	<p>
	As far as movies go I've been on a bit of a Jack Nicholson kick lately.  I watched <em>Five Easy Pieces</em> and <em>The Passenger</em>.  Both were good but if I had to recommend just one it would be <em>Five Easy Pieces</em>.
	</p>
</div>

<div class="post">
	<div class="date">April 20, 2008</div>
	<p>
	For the last three days I've been in Vancouver catching up with my team at work and visiting with friends and family.  I spent most of today in transit but when I finally got home I played some tennis with Chelsea and we watched <a href="http://www.imdb.com/title/tt0800039/" title="IMDB">Forgetting Sarah Marshall</a> which I thought was pretty funny.
	</p>
	
	<p>
	My travel plans are really starting to solidify now.  It's looking like I'll be going to <a href="http://en.wikipedia.org/wiki/Quetzaltenango" title="Wikipedia Entry for Quetzaltenango">Quetzaltenango, Guatemala</a> with Chelsea from about July 7 to July 27 and to <a href="http://en.wikipedia.org/wiki/Puerto_Vallarta" title="Wikipedia Entry for Puerto Vallarta">Puerto Vallarta, Mexico</a> with mom from October 20 to November 6.  I'm also hoping to attend the <a href="http://sasquatchfestival.com/2008/" title="Sasquatch Festival Homepage">Sasquatch Music Festival</a> over May long weekend.
	</p>
	
	<p>
	In the past couple of weeks I've been geeking out quite a bit.  I purchased a used computer and put <a href="http://www.ubuntu.com/" title="Ubuntu Homepage">Ubuntu Linux</a> on it and have been experimenting with some different technologies: <a href="http://code.macournoyer.com/thin/" title="Thin Web Server">thin</a> (a mongrel alternative), <a href="http://wiki.codemongers.com/Main" title="Nginx Web Server">nginx</a> (an apache alternative), <a href="http://merbivore.com/" title="Merb Framework">merb</a> (a rails alternative), <a href="http://git.or.cz/" title="Git Version Control System">git</a> (a subversion alternative).
	</p>
</div>

<h2>March 2008</h2>

<div class="post">
	<div class="date">March 29, 2008</div>
	<p>
	I've been reading about investing and personal finance quite a bit lately and have recently made my first stock purchases.  I've created a <%= link_to 'Finances Page', finances_path, :title => 'Finances Page' %> on this site where I'll be posting my stocks and keeping track of their performance.  I've also made a few other changes like adding in some generic images to liven up the pages a bit and creating this <strong>What's New</strong> section that you're reading right now.
	</p>
	
	<p>
		As far as work and life goes, well, I picked up my class 6 learner's license this week so I'm now authorized to ride a motorcycle under the supervision of a more experienced rider.  Also I've been slowly (very slowly!) working my way through the original Spanish version of <em>Love in the Time of Cholera</em> by Gabriel Garc&iacute;a M&aacute;rquez in the hopes of picking up some Spanish.  Mom and I have been talking about doing some sort of trip to Central or South America next fall so being able to speak the language should come in handy.
	</p>
</div>