<h1>Contact</h1>

<!-- 
	The following contact information is marked up to satisfy the hCard microformat standard.
	Some details which I do not want displayed for aesthetic purposes are hidden from view but 
	are available to anyone who wants to download or parse my hCard.
-->

<p class="vcard">
	<span class="fn n">
		<span class="hidden value given-name">Mark</span>
		<span class="value"> </span>
		Name: <span class="value additional-name">Adam</span>
		<span class="value"> </span>
		<span class="value family-name">Soltys</span>
	</span>
	
	<br />

	Phone: 
	<span class="tel">
		<span class="hidden type">Cell</span>
		<span class="value">+1 604 992 4598</span>
	</span>
	
	<br />
	
	Email: 
	<a href="mailto:asoltys@gmail.com" class="email">asoltys@gmail.com</a>
	
	<span class="hidden nickname">asoltys</span>
	<img class="hidden photo" src="http://adamsoltys.com/images/adam_soltys.jpg" alt="Adam Soltys" />
	<a class="hidden url" href="http://www.adamsoltys.com/" />
	
	<span class="hidden title">Systems Analyst</span>
	<span class="hidden role">Web Developer</span>
	<span class="hidden org">
		<span class="value">Government of Canada</span>
		<span class="organization-unit">Public Works and Government Services Canada</span>
	</span>
</p>