<style>
	label {
		width: 100px;
		float: left;
	}
</style>

<h1>Contact</h1>

<p>
	Name: Adam Soltys 
	<br />
	Handle: asoltys
	<br />
	Phone: 604-992-4598
	<br />
	Email: <a href="mailto:asoltys@gmail.com">asoltys@gmail.com</a>
</p>