<h1>Contact</h1>

<!-- 
	The following contact information is marked up to satisfy the hCard microformat standard.
	Some details which I do not want displayed for aesthetic purposes are hidden from view but 
	are available to anyone who wants to download or parse my hCard.
-->

<p class="vcard">
	<span class="fn n">
		Name: <span class="given-name">Adam</span>
		<span class="hidden additional-name">Mark</span>
		<span class="family-name">Soltys</span>
	</span>
	
	<br />

	Phone: <span class="tel">604-992-4598</span><br />
	Email: <a href="mailto:asoltys@gmail.com" class="email">asoltys@gmail.com</a>
	
	<p class="hidden">
		Additional Details
		<span class="nickname">asoltys</span>
		<img src="http://adamsoltys.com/images/adam_soltys.jpg" alt="Adam Soltys" class="photo" />
		<a href="http://www.adamsoltys.com/" class="url">http://www.adamsoltys.com/</a>
		<span class="org">Public Works and Government Services Canada</span>
	</p>
</p>