<h1>Finances</h1>

<h2>Non-Registered Assets</h2>

<table>
	<tr>
		<th colspan="2">Cash</th>
	<tr>
		<td>CIBC Chequing Account</td>
		<td>2908.13</td>
	</tr>
	<tr>
		<th colspan="2">Term Deposits</th>
	<tr>
		<td>Term Deposits</td>
		<td>2908.13</td>
	</tr>
	<tr>
		<th colspan="2">Bonds</th>
	<tr>
		<td>CIBC Chequing Account</td>
		<td>2908.13</td>
	</tr>
	<tr>
		<th colspan="2">Stocks</th>
	<tr>
		<td>CIBC Chequing Account</td>
		<td>2908.13</td>
	</tr>
</table>

<h3>Term Deposits</h3>
<h3>Bonds</h3>
<h3>Stocks</h3>
<h3>Mutual Funds</h3>

<h2>Registered Assets</h2>

<h3>Term Deposits</h3>


<h3>Bonds</h3>
<h3>Stocks</h3>
<h3>Mutual Funds</h3>

<p>
	Total RRSP Value:
</p>