<h1>Home</h1>

<h2>Welcome</h2>

<p>Thanks for visiting my homepage.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions.</p>

<h2>What's New</h2>

<div class="post">
	<div class="date">September 1, 2008</div>
	<p>I'm just coming off of a great labour day long weekend in Victoria filled with friends and activities.  Today I finished watching <em>The Long Way Round</em> and have since been cleaning up this website and reading <em>The Alexandria Quartet</em> by Lawrence Durrell.  It's proving to be a bit dry and intellectual for my tastes so far but I'll give it a chance.</p>
</div>

<p>
	<a href="/archive">News Archive</a>
</p>
