<h1>Welcome</h1>

<p>You've reached my new homepage!  I am currently working on developing content for this site.  Please feel free to <a href="/contact">tell me your suggestions</a> in the meantime.</p>