<h1>Welcome</h1>

<p>Thanks for visiting my homepage.  I know things are looking a bit sparse right now but I'm planning to add more content soon.  My tentative launch date is January 1st, 2008.</p>

<p>Please <a href="/contact">let me know</a> if you have any suggestions.</p>