<h1>Home</h1>

<img id="photo" class="framed right" src="/images/adam_soltys.jpg" title="Adam Soltys" alt="Adam Soltys" />

<h2>Welcome</h2>

<p>Thanks for visiting my homepage.  This site is fairly new and I'm still trying to decide what I want to use it for.  I had a blog running for a while but I've taken it down for the time being.  Please <a href="/contact">let me know</a> if you have any suggestions.</p>

<h2>What's New</h2>

<div>
	<span class="date">March 29, 2008</span>
	<p>
	I've been reading about investing and personal finance quite a bit lately and have recently made my first stock purchases.  I've created a <%= link_to 'Finances Page', finances_path %> on this site where I'll be posting my stocks and keeping track of their performance.  I've also made a few other changes like adding in some generic images to liven up the pages a bit and creating this <strong>What's New</strong> section that you're reading right now.
	</p>
	
	<p>
		As far as work and life goes, well, I picked up my class 6 learner's license this week so I'm now authorized to ride a motorcycle under the supervision of a more experienced rider.  Also I've been slowly (very slowly!) working my way through the original Spanish version of <em>Love in the Time of Cholera</em> by Gabriel Garc&iacute;a M&aacute;rquez in the hopes of picking up some Spanish.  Mom and I have been talking about doing some sort of trip to Central or South America next fall so being able to speak the language should come in handy.
	</p>
</div>

	

