<h1>Home</h1>

<img id="photo" class="framed right" src="/images/adam_soltys.jpg" title="Adam Soltys" alt="Adam Soltys" />

<h2>Welcome</h2>

<p>Thanks for visiting my homepage.  This site is fairly new and I'm still trying to decide what I want to use it for.  I had a blog running for a while but I've taken it down for the time being.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions.</p>

<h2>What's New</h2>

<div>
	<span class="date">May 15, 2008</span>
	<p>
		It's official: I'm going to Honduras.  Specifically, I'm going to <a href="http://www.guacamaya.com/" title="Guacamaya Spanish School">this school</a>.  It's near the border to Guatemala so we'll fly into Guatemala City and then visit <a href="http://en.wikipedia.org/wiki/Antigua_Guatemala" title="Wikipedia Article on Antigua">Antigua</a> for a few days before bussing to <a href="http://en.wikipedia.org/wiki/Copan" title="Wikipedia Article on Cop&aacute;n">Cop&aacute;n</a>.
	</p>
	
	<p>
		I'm fortunate to have some extremely impressive co-workers right now who are helping me with my language skills.  In fact, now that I think about it, almost everyone in my office is either tri- or quad-lingual.  Our new receptionist Claire happens to be a teacher for the Government's official French training courses so she's been having little conversations with me every time I walk by and has been giving me some vocab and grammar lessons.  I've also got Ewa, the previous receptionist, speaking Spanish to me.  I'm starting to get the two languages mixed up a bit but at the same time it's interesting to see how many of the words have common roots.
	</p>
	
	<p>
		On the financial front I've made a new purchase: TORO Venture Inc., a U.S. small-cap oil exploration company.  It's quite a departure from my other Canadian blue-chips with their high dividend payouts.  We'll see if this risky manoeuvre pays off!
	</p>
	
	<p>
		Tennis lessons have been going well.  They're twice a week and consist of a variety of drills and activities designed to focus on a specific aspect of my game like serving, ground strokes, doubles strategy, etc.  I've purchased a new <a href="http://www.midwestsports.com/wilson-k-four-105-k-factor-tennis-racquet-/p/115100W30/" title="Some Sporting Goods Website">Wilson K-Four racket</a> so Roger Federer better watch his back.
	</p>
	
	<p>
		I've recently registered watchmeprogram.com where I plan to create a site that programmers can use to schedule or join in on <a href="http://en.wikipedia.org/wiki/Pair_programming" title="Wikipedia Article on Pair Programming">pair programming</a> sessions.  Recordings (screencasts) of the sessions will be made available on the website afterwards and may be automatically tied to a source code repository or project management system.  The sessions could cover a single feature or module of a project or they might belong to a series which follows the progression of a project over time.  You'll be able to rank the recordings based on their instructional value and level of understanding required.  I came up with the idea in the shower a few days ago after reading <a href="http://nil.checksite.co.uk/post.cfm/pair-programming-session-recording">this article</a> earlier in the day.
	</p>
</div>

<div>
	<span class="date">April 29, 2008</span>
	<p>
	Things are starting to get a bit hectic at work.  We have more than we can handle right now and there's a lot more coming soon.  It's all good though, I'm happy to be busy.
	</p>
	
	<p>
	Outside of work I've been teaching myself Spanish from an audio book that I took out from the library.  It's going well. I think as long as I continue to practice a little bit every day then by the time July rolls around I'll be able to handle myself just fine in Guatemala.
	</p>
	
	<p>
	I signed up for tennis lessons recently and was supposed to have my first one yesterday but we got rained out so it will be tomorrow instead if the weather cooperates.  I'm hoping to finally be able to compete with Chelsea by the time I finish in June.
	</p>
	
	<p>
	As far as movies go I've been on a bit of a Jack Nicholson kick lately.  I watched <em>Five Easy Pieces</em> and <em>The Passenger</em>.  Both were good but if I had to recommend just one it would be <em>Five Easy Pieces</em>.
	</p>
</div>

<div>
	<span class="date">April 20, 2008</span>
	<p>
	For the last three days I've been in Vancouver catching up with my team at work and visiting with friends and family.  I spent most of today in transit but when I finally got home I played some tennis with Chelsea and we watched <a href="http://www.imdb.com/title/tt0800039/" title="IMDB">Forgetting Sarah Marshall</a> which I thought was pretty funny.
	</p>
	
	<p>
	My travel plans are really starting to solidify now.  It's looking like I'll be going to <a href="http://en.wikipedia.org/wiki/Quetzaltenango" title="Wikipedia Entry for Quetzaltenango">Quetzaltenango, Guatemala</a> with Chelsea from about July 7 to July 27 and to <a href="http://en.wikipedia.org/wiki/Puerto_Vallarta" title="Wikipedia Entry for Puerto Vallarta">Puerto Vallarta, Mexico</a> with mom from October 20 to November 6.  I'm also hoping to attend the <a href="http://sasquatchfestival.com/2008/" title="Sasquatch Festival Homepage">Sasquatch Music Festival</a> over May long weekend.
	</p>
	
	<p>
	In the past couple of weeks I've been geeking out quite a bit.  I purchased a used computer and put <a href="http://www.ubuntu.com/" title="Ubuntu Homepage">Ubuntu Linux</a> on it and have been experimenting with some different technologies: <a href="http://code.macournoyer.com/thin/" title="Thin Web Server">thin</a> (a mongrel alternative), <a href="http://wiki.codemongers.com/Main" title="Nginx Web Server">nginx</a> (an apache alternative), <a href="http://merbivore.com/" title="Merb Framework">merb</a> (a rails alternative), <a href="http://git.or.cz/" title="Git Version Control System">git</a> (a subversion alternative).
	</p>
</div>

<div>
	<span class="date">March 29, 2008</span>
	<p>
	I've been reading about investing and personal finance quite a bit lately and have recently made my first stock purchases.  I've created a <%= link_to 'Finances Page', finances_path, :title => 'Finances Page' %> on this site where I'll be posting my stocks and keeping track of their performance.  I've also made a few other changes like adding in some generic images to liven up the pages a bit and creating this <strong>What's New</strong> section that you're reading right now.
	</p>
	
	<p>
		As far as work and life goes, well, I picked up my class 6 learner's license this week so I'm now authorized to ride a motorcycle under the supervision of a more experienced rider.  Also I've been slowly (very slowly!) working my way through the original Spanish version of <em>Love in the Time of Cholera</em> by Gabriel Garc&iacute;a M&aacute;rquez in the hopes of picking up some Spanish.  Mom and I have been talking about doing some sort of trip to Central or South America next fall so being able to speak the language should come in handy.
	</p>
</div>