<h1>Home</h1>

<img id="photo" src="/images/adam_soltys.jpg" title="Adam Soltys" alt="Adam Soltys" />

<h2>Welcome</h2>

<p>Thanks for visiting my homepage.  This site is fairly new and I'm still trying to decide what I want to use it for.  I had a blog running for a while but I've taken it down for the time being.  Please <a href="/contact">let me know</a> if you have any suggestions.</p>

<h2>What's New</h2>

<p>
	<span class="date">March 29, 2008</span>
	<br />
	I've been reading about investing and personal finance quite a bit lately and have recently purchased my first stocks.  I've created a 'Finances' section on my website so that anyone can see what stocks I've bought and when.
</p>


<p>
	<span class="date">March 29, 2008</span>
	<br />
	Threw in a bunch of stock photos to liven up some of the pages here.  I'll try to produce something a little more original when I get a chance.
</p>
