<h1>Home</h1>

<img id="photo" class="framed right" src="/images/adam_soltys.jpg" title="Adam Soltys" alt="Adam Soltys" />

<h2>Welcome</h2>

<p>Thanks for visiting my homepage.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions.</p>

<h2>What's New</h2>

<div>
	<span class="date">August 18, 2008</span>
	<p>I just arrived back in Victoria after spending the last three weeks in Vancouver and the two weeks before that in Guatemala and Honduras.  The trip was fantastic.  Antigua was picturesque and we had lots of fun trying to muddle our way around without knowing any Spanish.</p>
	
	<p>Honduras was an experience I'll never forget.  My Spanish improved a lot while I was there thanks to five hours a day of one-on-one instruction.  I hope I can keep it up.  We kept ourselves busy in the afternoons and weekends with various activities.  Highlights include a hike up a volcano to within touching distance of an actively flowing lava stream, horseback rides through mountainous jungle, salsa dancing, fine dining in a Spanish Hacienda, visiting some really fascinating and well-preserved Mayan ruins, trips to natural hot springs and an exotic bird sanctuary, and just roaming around and lounging out in the quaint Spanish town of Copan.  Oh, and last but not least, enjoying the many conversations and authentic cuisine of our host and Copan's most famous <em>cocinera</em>: Tina Ramirez!</p>
	
	<p>Back in Vancouver I've been working in the downtown office with my pals and making the most of the great summer weather while it lasts.  We did a camping trip to Ross Lake near Hope that was filled with adventure and good times.  Other than that it's just been lots of beach, BBQs, tennis, and general partying.</p>
	
	<p>It's nice to be back to the quiet and comfort of our place in Victoria now.  I'm looking forward to an exciting year ahead because our good friends Richard and Amy are moving over here.  I'm enrolled in a French course for September that runs Monday/Wednesday from 7-9pm.  I also want to learn how to sail and pick up my motorcycle license.  Of course I'll also continue to work on my Spanish, improve my tennis game, and try to make a dent in my ever-growing reading list.</p>
</div>

<p>
	<a href="/archive">Archive</a>
</p>
