<h1>Lists</h1>

<h2>Books I Plan To Read</h2>

<ul>
	<li>Northern Lights - Philip Pullman</li>
	<li>The Call of Cthulu - H.P. Lovecraft </li>
	<li>Hill of Dreams - Arthur Machen</li>
	<li>The Alexandria Quartet - Lawrence Durrell</li>
	<li>The Count of Monte Cristo - Alexandre Dumas</li>
	<li>The League of Extraordinary Gentlemen - Alan Moore</li>
	<li>20,000 Leagues Under the Sea - Jules Verne</li>
	<li>Naked Lunch - Tim Burroughs</li>
	<li>The Shadow of the Sun: My African Life - Ryszard Kapuscinski</li>
	<li>How to Sail Around the World - Hal Roth</li>
	<li>Paradise Lost - John Milton</li>
</ul>

<h2>Books I've Read Recently</h2>

<strong>Liked and Finished</strong>

<ul>
	<li>Tales of Horror and the Supernatural - Arthur Machen</li>
	<li>The Catcher in the Rye - J.D. Salinger</li>
	<li>On The Road - Jack Kerouac</li>
	<li>The Old Man and the Sea - Ernest Hemingway</li>
	<li>100 Years of Solitude - Gabriel Garcia Marquez</li>
	<li>For Whom The Bell Tolls - Ernest Hemingway</li>
	<li>The Undercover Economist - Tim Harford</li>
	<li>The No. 1 Ladies Detective Agency - Alexander McCall Smith</li>
	<li>Still Life with Woodpecker - Tom Robbins</li>
	<li>The Kite Runner - Khaled Hosseini</li>
</ul>

<strong>Attempted but Didn't Get Through</strong>

<ul>
	<li>The Gum Thief - Douglas Coupland</li>
	<li>Midnight's Children - Salman Rushdie</li>
	<li>Hey Nostradamus - Douglas Coupland</li>
	<li>A History of Western Philosophy - Bertrand Russell</li>
	<li>A New Kind of Science - Stephen Wolfram</li>
	<li>Collected Short Stories - Edgar Allan Poe</li>
</ul>

<h2>Movies I Want to See</h2>

<strong>New Releases</strong>

<ul>
	<li>The Assasination of the Outlaw Jesse James by the Coward Robert Ford</li>
	<li>The Diving Bell and the Butterfly</li>
</ul>

<strong>Classics</strong>

<ul>
	<li>Miller's Crossing</li>
	<li>Singin' in the Rain</li>
	<li>Baron Munchhausen</li>
	<li>Deliverance</li>
	<li>The Searchers</li>
	<li>The Rules of the Game</li>
	<li>Stardust</li>
	<li>The Princess Bride</li>
	<li>Sneakers</li>
</ul>

<h2>Movies I've Seen Recently</h2>

<strong>New Releases I Liked</strong>

<ul>
	<li>There Will be Blood</li>
	<li>Into the Wild</li>
	<li>No Country for Old Men</li>
	<li>The Darjeeling Ltd.</li>
	<li>Pan's Labyrinth</li>
	<li>Zodiac</li>
</ul>

<strong>New Releases I Didn't Like So Much</strong>

<ul>
	<li>Atonement</li>
	<li>3:10 to Yuma</li>
	<li>Venus</li>
	<li>A Good Year</li>
</ul>

<strong>Classics (I only ever watch oldies that I know I'll like!)</strong>

<ul>
	<li>The Godfather</li>
	<li>Tokyo Story</li>
	<li>Citizen Kane</li>
	<li>8 1/2</li>
	<li>Annie Hall</li>
	<li>Manhattan</li>
	<li>Blood Simple</li>
</ul>

<p>If you want to know more about me and see some photos then feel free to check out my <a href="http://ubc.facebook.com/profile.php?id=21013817">Facebook Page</a>.</p>