<h1>Lists</h1>

<img id="book" class="framed right" src="/images/book.jpg" title="Big Old Book" alt="Big Old Book" />

<h2>Books I Plan To Read</h2>

<ul>
	<li>Three Cups of Tea - Greg Mortensen</li>
	<li>Tristes Tropiques - Claude L&egrave;vi-Strauss</li>
	<li>El Se&ntilde;or Presidente - Miguel &Aacute;ngel Asturias</li>
	<li>The Pillars of the Earth - Ken Follett</li>
	<li>A Passage to India - E.M. Forster</li>
	<li>A Farewell to Arms - Ernest Hemingway</li>
	<li>Love in the Time of Cholera - Gabriel Garcia Marquez</li>
	<li>Animal, Vegetable, Miracle - Barbara Kingsolver, Camille Kingsolver, Steven L. Hopp</li>
	<li>Northern Lights / The Golden Compass - Philip Pullman</li>
	<li>The Call of Cthulu - H.P. Lovecraft </li>
	<li>Hill of Dreams - Arthur Machen</li>
	<li>The Alexandria Quartet - Lawrence Durrell</li>
	<li>The Count of Monte Cristo - Alexandre Dumas</li>
	<li>The League of Extraordinary Gentlemen - Alan Moore</li>
	<li>Naked Lunch - Tim Burroughs</li>
	<li>How to Sail Around the World - Hal Roth</li>
	<li>Paradise Lost - John Milton</li>
</ul>

<h2>Books I've Read Recently</h2>

<strong>Liked and Finished</strong>

<ul>
	<li>The Sun Also Rises - Ernest Hemingway</li>
	<li>20,000 Leagues Under the Sea - Jules Verne</li>
	<li>The Spirit Tracker - Norm Pratt</li>
	<li>The Shadow of the Sun: My African Life - Ryszard Kapuscinski</li>
	<li>Tales of Horror and the Supernatural - Arthur Machen</li>
	<li>The Catcher in the Rye - J.D. Salinger</li>
	<li>On The Road - Jack Kerouac</li>
	<li>The Old Man and the Sea - Ernest Hemingway</li>
	<li>100 Years of Solitude - Gabriel Garcia Marquez</li>
	<li>For Whom The Bell Tolls - Ernest Hemingway</li>
	<li>The Undercover Economist - Tim Harford</li>
	<li>The No. 1 Ladies Detective Agency - Alexander McCall Smith</li>
	<li>Still Life with Woodpecker - Tom Robbins</li>
	<li>The Kite Runner - Khaled Hosseini</li>
</ul>

<strong>Attempted but Didn't Get Through</strong>

<ul>
	<li>The Communist Manifesto - Karl Marx and Friedrich Engels</li>
	<li>A Confederacy of Dunces - John Kennedy Toole</li>
	<li>The Gum Thief - Douglas Coupland</li>
	<li>Midnight's Children - Salman Rushdie</li>
	<li>Hey Nostradamus - Douglas Coupland</li>
	<li>A History of Western Philosophy - Bertrand Russell</li>
	<li>A New Kind of Science - Stephen Wolfram</li>
	<li>Collected Short Stories - Edgar Allan Poe</li>
</ul>

<h2>Movies I Want to See</h2>

<strong>New Releases</strong>

<ul>
	<li>The Diving Bell and the Butterfly</li>
	<li>Stardust</li>
	<li>Control</li>
</ul>

<strong>Oldies</strong>

<ul>
	<li>Jaws</li>
	<li>Once Upon a Time in the West</li>
	<li>One Flew over the Cuckoo's Nest</li>
	<li>Safe</li>
	<li>Ghost World</li>
	<li>Broken English</li>
	<li>The Lost Boys</li>
	<li>Cannibal Holocaust</li>
	<li>Leolo</li>
	<li>Farewell my Concubine</li>
	<li>Baron Munchhausen</li>
	<li>The Princess Bride</li>
	<li>Sneakers</li>
</ul>

<h2>Movies I've Seen Recently</h2>

<strong>New Releases I Liked</strong>

<ul>
	<li>Indiana Jones and the Kingdom of the Crystal Skull</li>
	<li>Ironman</li>
	<li>The Savages</li>
	<li>Forgetting Sarah Marshall</li>
	<li>Ben X</li>
	<li>In Bruges</li>
	<li>Dan in Real Life</li>
	<li>Definitely, Maybe</li>
	<li>The Planet Earth Series</li>
	<li>There Will be Blood</li>
	<li>Into the Wild</li>
	<li>No Country for Old Men</li>
	<li>The Darjeeling Ltd.</li>
	<li>Pan's Labyrinth</li>
	<li>Zodiac</li>
</ul>

<strong>New Releases I Wouldn't Recommend</strong>

<ul>
	<li>Wall-E</li>
	<li>Lars and the Real Girl</li>
	<li>Across the Universe</li>
	<li>The Assasination of the Outlaw Jesse James by the Coward Robert Ford</li>
	<li>Margot's Wedding</li>
	<li>Poor Boy's Game</li>
	<li>Atonement</li>
	<li>3:10 to Yuma</li>
	<li>Venus</li>
	<li>A Good Year</li>
	<li>Charlie and the Chocolate Factory</li>
</ul>

<strong>Oldies I Liked</strong>

<ul>
	<li>The Passenger</li>
	<li>Five Easy Pieces</li>
	<li>Bande &aacute; part</li>
	<li>The Wild Bunch</li>
	<li>Straw Dogs</li>
	<li>A Streetcar Named Desire</li>
	<li>The Searchers</li>
	<li>Singin' in the Rain</li>
	<li>Deliverance</li>
	<li>The Godfather</li>
	<li>Tokyo Story</li>
	<li>Citizen Kane</li>
	<li>8 1/2</li>
	<li>Annie Hall</li>
	<li>Manhattan</li>
	<li>Blood Simple</li>
	<li>Henry V (Laurence Olivier - 1944)</li>
	<li>Leon</li>
	<li>Miller's Crossing</li>
	<li>Harold and Maude</li>
	<li>The Rules of the Game</li>
	<li>Seven Samurai</li>
	<li>M</li>
</ul>

<strong>Oldies I Didn't Like</strong>

<ul>
	<li>Blue Velvet</li>
	<li>My Best Friend's Wedding</li>
</ul>

<h2>Games I Like</h2>

<strong>Board Games</strong>

<ul>
	<li>Chess</li>
	<li>Scrabble</li>
	<li>Backgammon</li>
	<li>Crib</li>
	<li>Poker</li>
	<li>Settlers of Catan</li>
	<li>Caylus</li>
	<li>Cranium</li>
</ul>

<strong>Video Games</strong>

<ul>
	<li>Halo</li>
	<li>Guitar Hero</li>
	<li>StarCraft</li>
	<li>Minesweeper</li>
</ul>
