<h1>Resume</h1>

<div class="resume">	
	<h2>Experience</h2>
	
	<div>
		<p class="position"><a href="http://pwgsc.gc.ca" title="PWGSC Website">Public Works and Government Services Canada</a></p>
		<p class="title">Systems Analyst</p>
		<p class="dates">May 2004 - Present</p>
				
		<ul class="responsibilities">			
			<li>Took on the role of lead developer for several ColdFusion-based web applications that are used internally by Canadian Government employees</li>
			<li>Headed up research and implementation of new technologies and development processes</li>
			<li>Led informal training and mentoring sessions to facilitate sharing of technical knowledge amongst team members</li>
			<li>Met frequently with clients, contractors, managers and users to elicit web application requirements and scope</li>
		</ul>
	</div>
	
	<div>
		<p class="position"><a href="http://www.mda.ca/" title="MDA Website">MacDonald Dettwiler and Associates</a></p>
		<p class="title">Software Engineer</p>
		<p class="dates">September 2005 - December 2006</p>
		
		<ul class="responsibilities">
			<li>Worked with a team of thirty engineers to deliver award-winning software used by the US Air Force to create terminal flight procedures</li>
			<li>Designed and implemented obstacle and terrain analysis algorithms and API following consultation with senior requirements engineers</li>
			<li>Wrote test manuals and automated test scripts to verify thousands of complex domain requirements</li>
			<li>Helped to develop and improve a large C++ codebase (more than 1.5 million lines of code)</li>
		</ul>
	</div>
	
	<div>
		<p class="position"><a href="https://www.elearning.ubc.ca/home/index.cfm">UBC Centre for Instructional Support</a></p>
		<p class="title">Web Programmer</p>
		<p class="dates">January 2003 - August 2003</p>
		
		<ul class="responsibilities">
			<li>Designed and developed UBC's e-learning portal as well as several web applications and online courses using PHP and MySQL</li>
			<li>Created interactive video tutorials and lessons using Flash and screen capture software</li>
			<li>Introduced wikis and blogs to facilitate better communication between faculty and e-learning program coordinators</li>
		</ul>
	</div>
	
	<h2>Education</h2>
	
	<div>
		<p class="position"><a href="http://www.ubc.ca/">University of British Columbia</a></p>
		<p class="title">Computer Science Major</p>
		<p class="dates">September 2001 - December 2006</p>
		
		<ul class="accomplishments">
			<li>Obtained bachelor of computer science with an overall straight-A average</li>
			<li>Completed five four-month terms of the co-op work placement program</li>
		</ul>
	</div>
	
	<h2>Skills</h2>
	
	<div>		
		<p>
			<strong>General</strong>
		</p>

		<ul>
			<li>Time-tracking, project management, and personal organization skills that allow me to hold myself accountable for the work I do and come up with accurate estimates of cost and time</li>
			<li>Communication skills developed through meetings with clients and managers and technical discussions with fellow developers</li>
			<li>Financial management, marketing, and general business skills acquired from years of freelance contracting</li>
			<li>Technical writing and documentation skills and proficiency with Microsoft Office applications</li>
			<li>Server administration skills including installation and maintenace of IIS and Apache web servers, Ruby on Rails and LAMP environments, and various standalone servers and daemons such as svnserve and openssh</li>
			<li>Familiarity with the Windows registry, Windows services and administrative consoles, cygwin, DOS, the linux console, shell scripts, batch scripts, makefiles, and other computing essentials such as networking, account management, remoting, security, backups, antivirus, etc.</li>
		</ul>
	</div>
		
	<div>
		<p>
			<strong>Web Development</strong>
		</p>

		<ul>
			<li>Web application development using Adobe <a href="http://www.adobe.com/products/coldfusion/">ColdFusion</a> paired with <a href="http://www.mach-ii.com/">Mach-ii</a>, <a href="http://www.coldspringframework.org/">ColdSpring</a>, <a href="http://www.transfer-orm.com/">Transfer</a> and other custom frameworks</li>
			<li>Standards-based design with XHTML, CSS, JavaScript and AJAX</li>
			<li>Rich Internet Applications built with <a href="http://labs.adobe.com/wiki/index.php/Flex_3">Adobe Flex 3</a> and the <a href="http://labs.adobe.com/wiki/index.php/Cairngorm">Cairngorm</a> framework</li>
			<li>Rapid development of next-gen web apps with <a href="http://ruby-lang.org">Ruby</a>, <a href="http://www.rubyonrails.org/">Rails</a>, and <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">RESTful resources</a></li>
			<li>Agile Development, Test-Driven Development, Extreme Programming</li>
			<li>Project management and software versioning using <a href="http://subversion.tigris.org/">subversion</a>, <a href="http://trac.edgewall.org/">Trac</a> and <a href="http://www.redmine.org/">Redmine</a></li>
			<li>Relational database systems including Microsoft SQL Server, Oracle, MySQL and SQLite</li>
		</ul>
		
		<p><strong>Software Engineering</strong></p>

		<ul>
			<li>Object-oriented programming in C++ and Java using Microsoft Visual Studio and Eclipse</li>
			<li>SQL, schema design, and administration of relational databases</li>
			<li>Basic theoretical understanding of data structures and algorithms, operating systems, artificial intelligence and machine learning, mathematics, graph theory, and logic as it relates to computing</li>
			<li>Requirements analysis, use case development, and software prototyping in UML</li>
			<li>Understanding of testing methodologies and ability to develop automated tests and detailed test description documents</li>
		</ul>
	</div>
</div>

