<style>
	div.resume p {
		margin: 0;
	}
	
	div.resume h2 {
		margin-bottom: 15px;
		margin-top: 15px;
	}
</style>

<h1>Resume</h1>

<div class="resume">
	<h2>Experience</h2>
	
	<div>
		<p class="position"><a href="http://pwgsc.gc.ca">Public Works and Government Services Canada</a></p>
		<p class="title">Systems Analyst</p>
		<p class="dates">May 2004 - Present</p>
		
		<ul class="responsibilities">
			<li>Acted in team lead role planning and delegating work activities and managing small teams of developers</li>
			<li>Met with clients and saw several projects through from concept to completion</li>
			<li>Lead research and implementation of new technologies and development processes</li>
			<li>Held regular training and mentoring sessions to share knowledge throughout the organization</li>
		</ul>
	</div>
	
	<div>
		<p class="position"><a href="http://www.mda.ca/">MDA</a></p>
		<p class="title">Software Engineer</p>
		<p class="dates">September 2005 - December 2006</p>
		
		<ul class="responsibilities">
			<li>Worked with a team of approximately thirty engineers to deliver award-winning software for the design of terminal flight procedures funded and utilized by the U.S. Air Force</li>
			<li>Designed and implemented core obstacle and terrain analysis algorithms and class API after extensive consultation with senior requirements engineers</li>
			<li>Wrote and executed detailed manual and automated test cases to cover thousands of complicated domain requirements</li>
			<li>Helped to maintain and improve a codebase of more than 1.5 million lines of C++ code</li>
		</ul>
	</div>
	
	<h2>Education</h2>
	
	<div>
		<p class="position"><a href="http://www.ubc.ca/">University of British Columbia</a></p>
		<p class="title">Computer Science Major</p>
		<p class="dates">September 2001 - December 2006</p>
		
		<ul class="responsibilities">
			<li>Worked with a team of approximately thirty engineers to deliver award-winning software for the design of terminal flight procedures funded and utilized by the U.S. Air Force</li>
			<li>Designed and implemented core obstacle and terrain analysis algorithms and class API after extensive consultation with senior requirements engineers</li>
			<li>Wrote and executed detailed manual and automated test cases to cover thousands of complicated domain requirements</li>
			<li>Helped to maintain and improve a codebase of more than 1.5 million lines of C++ code</li>
		</ul>
	</div>
</div>