<h1>Client Area</h1>

<p>This section of the site is going to be for my clients.  If I've done work for you in the past you'll eventually be able to log in here to see the status of your project(s), view any recent updates I've made, and print any invoices and estimates that I've produced for you.</p>