<h1>Client Area</h1>

<p>This section of the site is for my clients.  If I've done work for you in the past you can log in here to see the status of your projects, any recent updates I've made, and view/print invoices and estimates.</p>

<%= form_for(@client) %>
	<%= text_field :client, "login" %>
	<%= password_field_tag :client, "password" %>
<%= end %>