<h1>Finances</h1>

<div class="left">
	<h2>Assets</h2>
	
	<table id="assets">
		<tr>
			<th>Asset</th>
			<th>Value</th>
		</tr>
		<% for a in @assets %>
		<tr>
			<td><%= a.name %></td>
			<td>$<%= sprintf("%.2f", a.value) %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class="right">
	<h2>Liabilities</h2>

	<table id="liabilities" class="right">
		<tr>
			<th>Liability</th>
			<th>Value</th>
		</tr>
		<% for l in @liabilities %>
		<tr>
			<td><%= l.name %></td>
			<td>$<%= sprintf("%.2f", l.value) %></td>
		</tr>
		<% end %>
	</table>
</div>