<h1>Finances</h1>

<h2><%= @account.name %></h2>

<h3>Transactions</h3>

<table>
	<tr>
		<th>Date</th>
		<th>Transaction</th>
		<th>Amount</th>
	</tr>
	<% for t in @account.transactions %>
		<tr>
			<td><%= t.date %></td>
			<td><%= t.html_encoded_name %></td>
			<td><%= t.amount %></td>
		</tr>
	<% end %>
</table>