/* ------------------------------------------------------------------ 
SITEWIDE
--------------------------------------------------------------------- */

html {
	background-color: #333;
}

body {
	background-color: #333333;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.8em;
}

a
{
	border-bottom:#B96D00 1px dashed;
	color: #B96D00;
	cursor: pointer;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	border-bottom:#B96D00 1px solid;
}

*.hidden {
	display: none;
}

img.framed {
	border: 2px solid #323232;
	padding: 1px;
}

div#container {
	background: #fff;
	border: solid 0.5em #fff;
}

/* ------------------------------------------------------------------ 
HEADER
--------------------------------------------------------------------- */

div#header
{
	background: #2b2b2b url(/images/topbg.gif) repeat-x;
}

div#header h1 {
	font-size: 2.5em;
}

div#header h1 a
{
	color: #FFF95F;
	text-decoration:none;
	border:none;
}


div#header h2
{
	color: #fff;
	font-size: 1.0em;
}

/* ------------------------------------------------------------------ 
MENU
--------------------------------------------------------------------- */

div#menu {
	background: #333;
	color: #DF6900;
}

div#menu a:link, div#menu a:visited
{
	color: #fff;
	text-decoration: none;	
}

div#menu a:hover, div#menu a:active
{
	color: #FFF95F;
	text-decoration: none;
}


/* ------------------------------------------------------------------ 
CONTENT
--------------------------------------------------------------------- */

div#content {
	color: #333333;
}

div#content h1 {
	
}

div#content h2 {
	color: #444;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#content h3 {
	color: #444;
	font-size: 1.0em;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

div#content table {
	width: 100%;
	border: 1px solid #ccc;
}

div#content th {
 background-image: url('/images/topbg.gif');
 color: #fff;
}

div#content ul li 
{
	list-style-image: url(/images/db3.gif);
}

div#content img.left
{
	margin: 0em 1.8em 1.4em 0em;
}

div#content img.right
{
	margin: 0em 0em 1.8em 1.8em;
}

div.post
{
	border: 1px dashed #ccc;
	padding: 1.0em;
	margin-bottom: 1.0em;
}

div.post span.date
{	
	background:url(/images/date.gif) no-repeat left top;
	color: #787878;	
  float: right;
	font-size: 0.86em;
	padding: 0 0 1.0em 2.0em;
}

div.post span.title
{
  font-size: 1.5em;
}

div.post p.body {
  margin-top: 1em;
}

/* ------------------------------------------------------------------ 
FOOTER
--------------------------------------------------------------------- */

div#footer {
	background: #fff url(/images/border2.gif) repeat-x 0 2.5em;
	font-size: 0.86em;
}

/* ------------------------------------------------------------------ 
HOME
--------------------------------------------------------------------- */

img#photo {
	width: 10.0em;
	height: 12.969em;
}

/* ------------------------------------------------------------------ 
ABOUT
--------------------------------------------------------------------- */

img#plato {
	width: 12.0em;
	height: 15.947em;
}

/* ------------------------------------------------------------------ 
LISTS
--------------------------------------------------------------------- */

img#book {
	width: 25.0em;
	height: 25.0em;
}

/* ------------------------------------------------------------------ 
FINANCES
--------------------------------------------------------------------- */

div#content table#assets, div#content table#liabilities {
	width: 32.0em;
}

span.profit {
	color: #009900;
}

span.loss {
	color: #990000;
}

/* ------------------------------------------------------------------ 
RESUME
--------------------------------------------------------------------- */

div.resume div {
	margin-top: 10px;
}

div.resume p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
CONTACT
--------------------------------------------------------------------- */

span.nickname {
	display: none;
}
