<h1>New execution</h1>

<%= error_messages_for :execution %>

<%= form_for(@execution) do |f| %>
  <p>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<br />
		<%= f.submit "Create" %>
  </p>
<% end %>

