<h1>Projects</h1>

<div class="project">
  <h2>Esquimalt Graving Dock Billing Application</h2>

  <p>
    The billing application was developed as an evolvution from a legacy system
    that was built in MS Access.  We wrote scripts to migrate the data into a
    freshly redesigned database schema that we developed in Microsoft SQL 
    Server 2000.  The new schema addressed a lot of data integrity and 
    performance issues concerns.
  </p>

  <p>
    We then started developing a web based interface for the administrative 
    clerks at the dock to use to manage the existing data, enter new data, and
    generate invoices for their clients.
  </p>

  <p>
    We wrote our own object-relational mapping framework loosely based on the
    ActiveRecord design pattern and called it Supermodel.  We also came up with
    our own object-oriented MVC framework for ColdFusion complete with a base
    controller object and various view helpers for generating form controls
    to interact with our dynamic data models.
  </p>

  <p>
    Our new system has been in use for over a year now and the legacy Access 
    system will be phased out by April 2009.  We are currently implementing
    some more feature enhancements to finalize the system for production use.
  </p>
</div>

<div class="project">
  <h2>Human Resources Staffing Application</h2>

  <p>
    The staffing application is used by the human resources staff members in
    our region to keep track of all the regional staffing processes that are
    planned for the current fiscal year.
  </p>

  <p>
    The application supports three levels of access.  A limited read-only view
    for employees to see what staffing is going on in the region, a full
    read-only view for managers to see the status of the staffing processes,
    and an administrative level for HR staff to manage the data.
  </p>

  <p>
    The staffing application was the first project that we tied to our common 
    login database which is now used by all projects in our region.  It is an
    authentication framework that reads user accounts and details from the
    corporate LDAP exchange server, pulls them into our local database, and
    then allows all our employees to use their email credentials to log into
    any of our applications and gain various levels access.
  </p>

  <p>
    The app also provides various graphical reports to illustrate the overall
    status of staffing in our region.
  </p>
</div>

<div>
  <h2>Esquimalt Graving Dock Booking Application</h2>

  <p>
    The booking application is used by clients of the dockyard to reserve
    times and spaces for their vessels.  Once a booking is requested an email
    gets sent to the administrators at the dock who then login, manage the
    bookings and confirm or deny the requests based on the overall scheduling
    concerns of the dock.
  </p>
</div>

<div>
  <h2>Human Resources Competency Application</h2>

  <p>
    The competency application is an electronic resource for employees to find 
    information about what skills and competencies are required for the various
    jobs within government.
  </p>

  <p>
  Managers and Human Resource staff work in conjunction to develop job 
  profiles, competency profiles, and learning profiles for each of the jobs
  that are planned to be staffed.  These profiles provide an overall description
  of the job and what skills are required to perform it adequately.
  </p>

  <p>
    A competency dictionary is included to ennumerate all the various qualities
    and levels of the various job competencies.  The objective is to provide
    a standardized set of criteria for determining whether an applicant is 
    suited to a particular job.
  </p>

  <p>
    For each of the competencies, human resources development specialists can
    attach various resources that employees can turn to in order to build up
    that particular competency.  All the learning resources for all the job
    competencies listed in the job's competency profile are then collected
    automatically and presented in a cohesive learning profile that the
    employee can browse to get an idea of what resources are available to them.
  </p>
</div>

<div>
  <h2>Web Directory Listing Service</h2>

  <p>
  The WebDLS application is used by government staff to develop the BluePages
  listings for local phonebooks.  Various books are tracked in the system and
  users of the system are each responsible for creating a set of listings.
  Some listings are specific to a particular book or region while others can be
  shared across multiple books.
  </p>

  <p>
    The system supports various levels of access so that once a listing is 
    created it can be approved by a manager.  Certain users have administrative
    rights so they can approve or lock listings or lock down an entire book
    when it is ready for publication.
  </p>

  <p>
    The system has precise rules for managing the indentation and wording of
    the listings and allows users to choose from a collection of standard 
    phrases to ensure consistency across listings and books.
  </p>

  <p>
    As a book develops, the listings can be viewed in a nearly photorealistic
    preview mode that mimics the look of an actual printed BluePages book.
    The listings can also be exported into a word document format that is
    accepted by the printers.
  </p>
</div>



