<h1>Projects</h1>

<div class="project">
	<h2>Dynamic Investigations</h2>
	
	<p>This site was built for a private investigation company and was modelled after their existing brochure.  The site was built using PHP and includes a detailed assignment form that emails the claimants' assignment details to the administrator of the site.</p>
</div>