<h1>Projects</h1>

<br />

<div class="projects">
	<div>
		<a href="http://www.dynamicinvestigations.com/">
			<img src="/images/dynamic_investigations.jpg" alt="Dynamic Investigations" title="Dynamic Investigations" />
		</a>
		
		<p>
			<strong>Company:</strong>
			Dynamic Investigations
		</p>
		
		<p>
			<strong>Technologies:</strong>
			XHTML, JavaScript, PHP
		</p>
		
		<p>
			<strong>URL:</strong> 
			<a href="http://www.dynamicinvestigations.com/">http://www.dynamicinvestigations.com/</a>
		</p>
		
		<p>
			<strong>Description:</strong> 
			This site was built for a private investigation company and was modeled after their existing offline brochure.  It includes an assignment form that users of the site can fill out to send an email to the owner of the site.
		</p>
	</div>
</div>