<h1>Projects</h1>

<p>I've worked on dozens of interesting and challenging projects in the realm of web development and software engineering over the past seven or eight years.  I wish I had time to do a little write up and case study on each one but I'll get the ball rolling with just the most recent ones for now.  If you're interested in seeing what exactly I'm up to, I've begun using a project management tool called redMine to <a href="http://projects.adamsoltys.com/">track my latest projects</a>.</p>

<p>
	
</p>

<br />

<div class="projects">
	<div>
		<p>
			<strong>Name:</strong>
			iDesign
		</p>
		
		<p>
			<strong>Status:</strong>
			In Progress
		</p>
		
		<p>
			<strong>Technologies:</strong>
			Ruby on Rails, RSpec
		</p>
		
		<p>
			<strong>URL:</strong> 
			<a href="http://idesign.adamsoltys.com/">http://idesign.adamsoltys.com/</a>
		</p>
		
		<p>
			<strong>Description:</strong> 
			I am currently building this site for my brother-in-law Geoff so that he can provide his clients with a low-cost solution for generating websites from predefined templates.
		</p>
	</div>
	
	<div>
		<a href="http://www.dynamicinvestigations.com/">
			<img id="dynamic_investigations" src="/images/dynamic_investigations.jpg" alt="Dynamic Investigations" title="Dynamic Investigations" />
		</a>
			
		<p>
			<strong>Name:</strong>
			Dynamic Investigations
		</p>
		
		<p>
			<strong>Status:</strong>
			Complete
		</p>
		
		<p>
			<strong>Technologies:</strong>
			XHTML, JavaScript, PHP
		</p>
		
		<p>
			<strong>URL:</strong> 
			<a href="http://www.dynamicinvestigations.com/">http://www.dynamicinvestigations.com/</a>
		</p>
		
		<p>
			<strong>Description:</strong> 
			This site was built for a private investigation company and was modeled after their existing offline brochure.  It includes an assignment form that users of the site can fill out to send an email to the owner of the site.
		</p>
	</div>
</div>
