development:
  adapter: mysql
  database: adam_soltys_development
  username: root
  password: 
  host: localhost 

test:
  adapter: mysql
  database: adam_soltys_test
  username: root
  password: 
  host: localhost 

production:
  adapter: mysql
  database: adam_soltys
  username: root
  password: 
  host: localhost 
