/* ------------------------------------------------------------------ 
SITEWIDE
--------------------------------------------------------------------- */

div.contentarea h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

pre {
	font-size: 1.0em;
}

/* ------------------------------------------------------------------ 
HOME
--------------------------------------------------------------------- */

img#photo {
	float: right;
	margin-left: 15px;
	border: solid 1px #dcdcdc;
	padding:3px;
}

/* ------------------------------------------------------------------ 
RESUME
--------------------------------------------------------------------- */

div.resume div {
	margin-top: 10px;
}

div.resume p {
	margin: 0;
}

*.hidden {
	display: none;
}

/* ------------------------------------------------------------------ 
CONTACT
--------------------------------------------------------------------- */

span.nickname {
	display: none;
}