/* ------------------------------------------------------------------ 
SITEWIDE
--------------------------------------------------------------------- */

div.contentarea h1 {
	padding-left: 1.0em;
	background-image: url(../images/db1.gif);
	background-position:left center;
	background-repeat:no-repeat;
}

div.contentarea table {
	width: 100%;
	border: 1px solid #ccc;
}

div.contentarea th {
 background-color:#818800;
 color: #fff;
}


/* ------------------------------------------------------------------ 
HOME
--------------------------------------------------------------------- */

img#photo {
	float: right;
	margin-left: 15px;
	border: solid 1px #dcdcdc;
	padding:3px;
}

/* ------------------------------------------------------------------ 
RESUME
--------------------------------------------------------------------- */

div.resume div {
	margin-top: 10px;
}

div.resume p {
	margin: 0;
}

*.hidden {
	display: none;
}

/* ------------------------------------------------------------------ 
PROJECTS
--------------------------------------------------------------------- */

div.projects div {
	width: 650px;
	padding: 1.0em;
	border-top: solid 1px #E1D2BD;
	border-bottom: solid 1px #E1D2BD;
	margin-bottom: 1.0em;
	text-align:left;
}

div.projects img {
	float: right;
	border: 1px solid #E1D2BD;
	padding: 0.7em;
	margin-right: 0.5em;
}

div.projects p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
CONTACT
--------------------------------------------------------------------- */

span.nickname {
	display: none;
}