/* ------------------------------------------------------------------ 
SITEWIDE
--------------------------------------------------------------------- */

a
{
	color: #B96D00;
	text-decoration: none;
	border-bottom:#B96D00 1px dashed;
}

a:hover
{
	text-decoration: none;
	border-bottom:#B96D00 1px solid;
}

*.hidden {
	display: none;
}

img.framed {
	border: 5px solid #323232;
	padding: 1px;
}

/* ------------------------------------------------------------------ 
CONTENT AREA
--------------------------------------------------------------------- */

div.contentarea h1 {
	padding-left: 1.0em;
	background-image: url(../images/db1.gif);
	background-position:left center;
	background-repeat:no-repeat;
}

div.contentarea h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

div.contentarea table {
	width: 100%;
	border: 1px solid #ccc;
}

div.contentarea th {
 background-image: url('/images/topbg.gif');
 color: #fff;
}

div.contentarea img.left
{
	position: relative;
	float: left;
	margin: 0em 1.8em 1.4em 0em;
}

div.contentarea img.right
{
	position: relative;
	float: right;
	margin: 0em 0em 1.8em 1.8em;
}

div.contentarea span.date
{
	background:url(/images/date.gif) no-repeat left center;
	padding-left:15px;
	font-size: 0.86em;
	color: #787878;
}

/* ------------------------------------------------------------------ 
HOME
--------------------------------------------------------------------- */

/* ------------------------------------------------------------------ 
ABOUT
--------------------------------------------------------------------- */

/* ------------------------------------------------------------------ 
LISTS
--------------------------------------------------------------------- */

/* ------------------------------------------------------------------ 
FINANCES
--------------------------------------------------------------------- */

span.profit {
	color: #009900;
}

span.loss {
	color: #990000;
}

/* ------------------------------------------------------------------ 
RESUME
--------------------------------------------------------------------- */

div.resume div {
	margin-top: 10px;
}

div.resume p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
PROJECTS
--------------------------------------------------------------------- */

div.projects div {
	width: 650px;
	padding: 1.0em;
	border-top: solid 1px #E1D2BD;
	border-bottom: solid 1px #E1D2BD;
	margin-bottom: 1.0em;
	text-align:left;
}

div.projects img {
	float: right;
	border: 1px solid #E1D2BD;
	padding: 0.7em;
	margin-right: 0.5em;
}

div.projects p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
CONTACT
--------------------------------------------------------------------- */

span.nickname {
	display: none;
}