/* ------------------------------------------------------------------ 
SITEWIDE
--------------------------------------------------------------------- */

a
{
	color: #B96D00;
	text-decoration: none;
	border-bottom:#B96D00 1px dashed;
}

a:hover
{
	text-decoration: none;
	border-bottom:#B96D00 1px solid;
}

*.hidden {
	display: none;
}

img.framed {
	border: 2px solid #323232;
	padding: 1px;
}

body {
	background-color: #333333;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
	font-size: 0.8em;
}

/* ------------------------------------------------------------------ 
CONTENT AREA
--------------------------------------------------------------------- */

div#contentarea {
	color: #333333;
}

div#contentarea h1 {
	padding-left: 1.0em;
	background-image: url(../images/db1.gif);
	background-position:left center;
	background-repeat:no-repeat;
}

div#contentarea h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

div#contentarea h3 {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

div#contentarea table {
	width: 100%;
	border: 1px solid #ccc;
}

div#contentarea th {
 background-image: url('/images/topbg.gif');
 color: #fff;
}

div#contentarea ul li 
{
	list-style-image: url(/images/db3.gif);
}

div#contentarea img.left
{
	position: relative;
	float: left;
	margin: 0em 1.8em 1.4em 0em;
}

div#contentarea img.right
{
	position: relative;
	float: right;
	margin: 0em 0em 1.8em 1.8em;
}

div#contentarea span.date
{
	background:url(/images/date.gif) no-repeat left center;
	padding-left:15px;
	font-size: 0.86em;
	color: #787878;
}

/* ------------------------------------------------------------------ 
HOME
--------------------------------------------------------------------- */

img#photo {
	width: 10.0em;
	height: 12.969em;
}

/* ------------------------------------------------------------------ 
ABOUT
--------------------------------------------------------------------- */

img#plato {
	width: 12.0em;
	height: 15.947em;
}

/* ------------------------------------------------------------------ 
LISTS
--------------------------------------------------------------------- */

img#book {
	width: 25.0em;
	height: 25.0em;
}

/* ------------------------------------------------------------------ 
FINANCES
--------------------------------------------------------------------- */

div#contentarea table#totals {
	width: 45.0em;
}

img#finance {
	width: 24.0em;
	height: 16.0em;
}
	

span.profit {
	color: #009900;
}

span.loss {
	color: #990000;
}

/* ------------------------------------------------------------------ 
RESUME
--------------------------------------------------------------------- */

div.resume div {
	margin-top: 10px;
}

div.resume p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
PROJECTS
--------------------------------------------------------------------- */

img#dynamic_investigations {
	width: 20.0em;
	height: 6.328em;
}

div.projects div {
	width: 50.0em;
	padding: 1.0em;
	border-top: solid 1px #E1D2BD;
	border-bottom: solid 1px #E1D2BD;
	margin-bottom: 1.0em;
	text-align:left;
}

div.projects img {
	float: right;
	border: 1px solid #E1D2BD;
	padding: 0.7em;
	margin-right: 0.5em;
}

div.projects p {
	margin: 0;
}

/* ------------------------------------------------------------------ 
CONTACT
--------------------------------------------------------------------- */

span.nickname {
	display: none;
}
