<% content_for :head do %>
  <%= javascript_include_tag "posts" %>
<% end %>

<label for="created_at">Date:</label>
<%= text_field :post, "created_at" %>

<br />

<label for="body">Content:</label>
<br />
<%= text_area :post, "body", :cols => '60' %>
