<h1>Work</h1>

<h2>What's New</h2>

<% @posts.each do |p| %>
  <div class="post">
    <div class="date"><%= p.created_at.strftime('%B %d, %Y') %></div>
    <%= p.body %>
  
    <% if logged_in? %>
      <p>
        <%= link_to 'Edit', edit_post_path(p) %>
      </p>
    <% end %>
  </div>
  <br />
<% end %>
