<h1><%= @post.title %>
<small style="color: #666"><%= @post.created_at.strftime('%B %d, %Y') %></small>
</h1>
<br />

<%= render :partial => 'layouts/sidebar' %>

<div id="news" class="left">
  <%= raw @post.body %>
</div>
