<h1>New Transaction</h1>

<%= error_messages_for :transaction %>

<%= form_for(@transaction) do |f| %>
  <p>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<br />
		<%= f.submit "Create" %>
  </p>
<% end %>

