<% title('About') %>

<h2>The Basics</h2>

<p>
I work for
<a href="http://www.pwgsc-tpsgc.gc.ca" title="Public Works and Government Services Canada">
Public Works and Government Services Canada</a> in Vancouver, British Columbia.  I'm a web
application developer.  My team builds websites that help government employees be more productive.
</p>

<h2 style="clear:both;">Interests</h2>

<p>
I have a pretty diverse range of interests from computers, academics, music, culture, and language.
I studied classical piano growing up and still enjoy listening to classical music.  I've dabbled with
guitar and harmonica too.  I have taken courses in French, Spanish, Japanese, and German but not
enough to retain or speak any of them fluently.  I've travelled through Western Europe a couple of times.
The first time by train, the second time by bicycle.  In university my major was computer science but I also 
liked math, philosophy, psychology, history, classical studies and English.
I like to stay active by riding my bike, jogging, playing tennis and swimming laps.  In the summer time I like
to lounge in the sun with a good book and spend a lot of time at the beach.  I also like to get out in nature
by going on hikes and camping trips.  When the weather's not so nice, I spend my time watching 
movies, reading books, blogs and articles on the Internet.
</p>

<h2 style="clear:both;">Philosophy</h2>

<p>
I'm an optimist.  The more I learn and discover what's already been accomplished, the more I appreciate the magnitude of human achievement and potential.  You'd be hard-pressed to find something that I would consider uninteresting.</p>

<p>I try to lead a relatively simple, low-impact lifestyle.</p>
