<% title('About') %>

<p>
I'm a web developer working for the <a href="http://www.pwgsc-tpsgc.gc.ca" title="Public Works and Government Services Canada Website">Canadian Federal government</a>.  My team builds web applications that help other government employees to be more productive.  I have an interest in using the latest web technologies to open government data to the public because I want to increase the transparency and accountability of the public service.  To learn more about my professional life, check me out on <a href="http://www.linkedin.com/profile/view?id=74514349" title="LinkedIn Profile">LinkedIn</a> and <a href="https://github.com/asoltys" title="Github Profile">Github</a>.
</p>

<h2>Personal Info</h2>

<p>
I was born in Vancouver in 1983.  Right now I'm living in Edmonton with my girlfriend Chelsea who is doing a two-year medical residency program at the University of Alberta.  We both grew up in Richmond but we met at <a href="http://ubc.ca/" title="University of British Columbia">UBC</a> and have been attached at the hip since 2003.  We lived in Victoria for three years before coming to Edmonton and we plan to head back to the coast in 2012.
</p>
