<% title('About') %>

<h2>The Basics</h2>

<p>
I was born in Vancouver, British Columbia on November 17, 1983.  I did most of my growing up in the suburbs of Richmond.  I recently moved to Edmonton to be with my girlfriend Chelsea who is doing a two-year medical residency program at the University of Alberta.  I graduated from <a href="http://ubc.ca/" title="University of British Columbia">UBC</a> at the end of 2006 with a degree in computer science.  Now I'm working full-time for <a href="http://www.pwgsc-tpsgc.gc.ca" title="Public Works and Government Services Canada"> Public Works and Government Services Canada</a> where I spend most of my time building web applications for government employees.
</p>

<h2>Hobbies</h2>

<p>
I've had a pretty keen interest in computers, video games, and the Internet for about as long as I can remember.  I also enjoy learning about history, philosophy, religion and languages.  I've taken courses in Japanese, German, French, Spanish and even American Sign Language but haven't managed to retain much of any of them.  I've never been very artistic or hands on but I've recently taken an interest in motorcycles and am hoping to learn how to do some basic mechanical work.
</p>

<h2>Music</h2>

<p>
My musical tastes are pretty varied.  I'll listen to just about anything depending on my mood.  These days I've been gravitating towards modern hip hop, indie rock, and electronic music.  I took piano lessons for a long time and still enjoy listening to classical music.  I can play the guitar and harmonica a little bit too.
</p>
 
<h2>Travel</h2>

<p>
I've travelled through Western Europe a few times.  The first time by train, the second time by bicycle, the third by plane and motorbike.  I've also been to Guatemala and Honduras where I lived with a homestay family and went to Spanish school for a couple of weeks.  I want to see as much of the world as I can.
</p>

<h2>Activities</h2>

<p>
I like to stay active by riding my bike, jogging, playing tennis and swimming laps.  In the summers I go on weekend camping trips with friends and spend a lot of time at the beach.  When the weather's not so nice, I'll curl up with a good book or spend my time watching movies or surfing the Internet.  I typically do some hiking every summer and some snowboarding every winter too, which gets me out into the great outdoors.  I'd like to get into rock climbing and sailing one of these days.
</p>

