<% title('About') %>

<h2>About Me</h2>

<p>
I was born in Vancouver in 1983.  After moving around a bit, I'm now living in Vancouver again, and happy to be here.  I'm a web developer by trade.  Some of my work can be found online at <a href="https://github.com/asoltys/">https://github.com/asoltys/</a>
</p>

<h2>GPG Public Key</h2>

<p>
You can use the following GPG Public Key to encrypt messages for me
or verify that a message I've signed is really from me.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.11 (GNU/Linux)

mQINBE5deV4BEAC7hmXGg8lA5IPaoXwUs7c5mB6R0F3tRJ1DzF7mgGbNxqCylm0y
EH9rEsu8cczIRCtOWCxUGymoaXkn5rkPBu685TS8OE80iQBGgw0qwKHo1GnmL/ly
eDSIavignZWggWfRoFAp5lhmDOG3lnF7oxPHa+bAawNw4OZJYnxIGHN75Wbj2t9I
3+WBQZ518nH0/dIPdOjau1ZXc64vc7A5q2efZYSRqaCzVGk9NOaTDcjTPV5oDeJz
paMl11Bu+izNjvgowkwuTT4VfrPL8F00vLVSJTfYtjuAYcOJJnwt8AYizv4oaw79
QVNA0nzWp72Hg0wgq2ciTsPwyIiXXMoEL+rPkK65Ul/zlDWaZMS+Y6wZZOqaxVeC
6/VWppiVDgev0Ym2ZXe+D1iLZQV+6qiVhZcdmkRQ9+m8hjTOLh6IKz5Mcnr5LYPx
SBUqbDCrwFwms0JZeUBxlhQj6ThvfHGLIxGJR5206qmsP9+/+sZPJ3MA3zL+l0tZ
o+JzNMU4h71FXffDag3/QZ9kJqyeSws5NGliQ+fMS0PoltgRUjOt7JezrYGf9kmU
eJr/MWaDkzLNPbWBHSPMqL5Ax7DnigzK3ROCupbeAoJxuD4cX05vpP/kuAcPluNF
BtxDOY40mIAHxoNWD4jqlJa0XeQ4pvfvwjlWew2bqfmMJa6iIuv2wj833wARAQAB
tF1BZGFtIFNvbHR5cyAoQWxsIHlvdSB0b3VjaCBhbmQgYWxsIHlvdSBzZWUgaXMg
YWxsIHlvdXIgbGlmZSB3aWxsIGV2ZXIgYmUpIDxhc29sdHlzQGdtYWlsLmNvbT6J
AjgEEwECACIFAk5deV4CGwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEKEC
f+2Fpc7TzdkP/0XpvnfjZBX/hEQQzjOByg69Yv+Thgi0oHIDYObJfurt7O+wgMVu
+7D5gcOi8zdh8Bg3omCRVC8I9PaxSmgyXW/Q5CXEGDUv2nddlZu0NZgy1jLQvcZ7
CKgXqrX5InNxHEZJ1//lY7R0oU0bheapzw2Cue2C73VNHMO3Rf049zBRbYVq6L2T
mjHUtkdUM04h1N6lF8i2ZMK3hDnerREsP3q7So4bwj7VSpToY9aKDGaZgv0j2Qmt
SXjo3sAFsAzkhMyTInWIsfMs383A2jrwyesnpaSDG3xS0wdnu4PLu3BO1aLZQBRJ
ywX5jg5jQNngRqjxwuPI/ETeOnW6HkYFqRvwt0Iuz8+axn8Irfup9VgDF4KuABvE
P9PkmbMQBLc6bbvqBF8cg1Y/AzM5aqEIYzF1XI3iTdO1If7MtTsiIAUMbQalQIfg
cVi+ZgG9bqhNTZRPeQq/47h/ULgKumbOmTzcP9NBeFBQKYfKFIQkJldUcPwXi9L2
aDsLPV10c9dNEgZgapP5i/l2Vt4RGozsv/7pHBo8HfqmXihyKv370UJWbARIRqMh
maJCEluXgwO+GFk/4tw1SAN4NN2ThKqdMUrK7kSXGxY8ZlYGEBMnNK4J4+SvUKpL
S+OF9xD3eblMiBwZsLycegF3N+4GPwNifjOUikV7VL4diC2m5SIHcn/VuQINBE5d
eV4BEADIBaBENK7mIuT+MIzqeW66OY8RHfP6eK4wVL9TXrfQXvWXkwc+zVntmWOO
wrTTZiZebpOgoVFuwh6p3N2PvZFZuBs+ZhNbteZRYEUKX6qRdkaXXQsBFN2AL72a
JJLDMVyz3gyEqAVUV7iZE5DSA5QKjnYFBiG7oTVd0p4ALi6fBjacA3v/7CdTzEw1
KpPDd8VUklXbKDCJzoBcz46feCXAMoA7+VJKl38uGuVD/PVaWCzqyuCx7Vfb7mda
GcD+bFbe2pBJaN6otmajC5qwwXViT/MqwBE0jDIi0qWgtYEuWqrbxLV5IF4cQDmq
LfFbm8Oz9OG/yN3SUznEO3XIfCQAnmR6K4gsShSNlb2kvKNrcO8OHYbnBY+aYljv
OQg4MDEntBaUCaQSzUCVZsXcAju8aAPgrssFfSspCf6kuuFjpD0D6wEj9ByGK0ud
HTGslLkgjI1JHoF/ti0NKNACO7zBkP8s7Ntsl35zCCOC2bFaAc2V9t8XnE0lQ40x
KDHpzgetwtRPTP6AHYDybbqTF3/maNC3tuGmfmNgnGihTDWFhTCCsmUwZD4moyjr
7i6Fx5haKSrcOnNcCObNvIwM1qHVlGA5KIkBgiPV8Deu6tFmA4fDBfMXuXjVnZLc
2DzjWh1fGOLsh7ZhUWKngTp6uiUyYb2Rt3weK1hoVe+FjSGWUQARAQABiQIfBBgB
AgAJBQJOXXleAhsMAAoJEKECf+2Fpc7TtIYP+wYBMSuBkJTQTyu2obGliyIfD778
JRBJ8QYDGf8Y0sgxKAe1YQJEhh8rWTEI4oN9sYeEHWRXPS7teN5SMYzxxNMRRqw1
hTdXzGpd53CFhhiLn7X+qyxfOSU8pZ7Uy4L4J8vM4n9qQg+dU+anrkBOQTlevWZ3
j/5y0MlHFeGtqxDjtiu3kvQXB8fVeTSMnvH3TC1fxqG1VNRkRbQMVFnesOqr9u19
HFW6iHgeYISweWpw2Ktb/Fxi0Zqu3I4uhV9kveZd15jwRRdOqSTpqEzein+iVU92
+cU3Ry6SIGwzzocFxezg39Ejnx6ApYEUISEfoEHeSssYEcQeJfVaKIl/+5raJTEt
lyeC3q9Prmz9b/H1gdZvBd5BfmcaXsPDPODQfmzOwI9J3OQ173N/D7QTbl9BVwBu
2+iVGij35uhj71/rjXTQBuNcq1CMK327J5rlPkIdpD3FsjlxDU8+/R44N18mCv77
B8sQg/qc1cClpMyV72Id5XM4cjvqHNLmVCeR0bU3RQ5Cnn6zhhI4YtBuYfgQEmdE
YWE/Njl4p7VYG+TWbhhIjZofUCDcKEm9rNMXE0MatAxHvdh3/CVzBpO+20niDQhk
+4SzHWWhCW/1N7lHXhN5GRlmlGxnWQf6FGHTzL8IftK+vkREzGE3imiTzX4XoL8K
e0ZPlJMJaOuMIJTvuQENBFCRYHsBCADGG4P4hdw4GfT61JsPECM3UxkZ83QPra5S
8bBAOpxevKYL6238I9FNWZgMoJWBYvmG2Q/1EKENUqI1hmsVVgryvslXPmOIEKmP
NWMAlp2JbIG+5nt90MDA/70WZKAKL/vwgKMtZU3wu144eG4YaXSOLpplUcTBWg7U
ZCRC/VD7DJyNQXEicOw70ddZq9qsH2W4kTh7YSUUNS27uYZViKT+J6bm2KgkKo8E
b1vVMMO0vpgRaxybhq3etCx0jimBgX4uJpZdfjlxtQqRcyKLmcw/jNWneLWhArAU
kLCTYx4B8qCQSkRoUUcElgZc3nkiplW3wFYBG9In9K0B/MIcKN4XABEBAAGJAh8E
GAECAAkFAlCRYHsCGyAACgkQoQJ/7YWlztPx6w/+JD06kxYkRf1Coq1qSU9fYc+l
gg8z3r/XeVbOsmLS0ubXa6Y2bgtp2cnrBGcupQFoK0ESD2PiiRQ928DxCxWLQGpA
fPK1vmxxkissWOJR+T2z+VwKavl70uUVsCFbwUhR2BuZqHnV4hB9ba741ycsrUuw
ugiPB5NXINOKAiM+zTIlY7diwjfp3m2o0XSub59YkjHK817HR61MzpJGsIMkTLmS
a7hzqmSM9ROP4OTztMznzvrH/CyTFns8lmVU4IEOKg01kWADm+RR1B3iDy+q4Oo3
sfvJ8J1X95nGAkwEnNm2HwW8k32qvrSY4YxKrdZ14dCujeUp/IguiOf/3wLWjd4x
CmKRwNVMP85qZS95o/Yq+0Jmmw8v5W1eqfQt4M3wqWcgoNAYI70BfDwkEMHhijh/
MFISPhAGA78C8wiDkD5PbNIv4FsZcJg6SxVqveGlPQ5sacMvjL4KAEXZW98oFwS3
SWbzJp6oJJy3tj0H3rtJrMzZu/jKJDfSxJsTi8jGWbagidB0q9DQgkPQKep6xr6t
LUodbjp5cqPDmdQqoSCen3c7w2NwTzEuSZ4v7s1ix36eQiIMZ5i8C1sQAqeXHQXB
Ivt1+UlxAheY6WJmkhnQvFixOiSvC2XvPvMji0b8B6WTpYZjRNJevEdgq3Po2hAg
hglQcUuOKsUfYGUv2OW5AQ0EUJGXUgEIAMUqQDMTUZWHqHZTjkQUth8g4PJMoxFg
q2r/LazlXwQQrznRJoj6MJk2+QE4BFqbWiuCelf3gvOe4NtyEu/4V5OEoc9LJDW7
EY+teWObCu9dpNcpONwwnlnYU2AmO3DDs+ek38ilYntw+SSxtWOaKdt2mJ9+G6dh
mgU8dEI6D4L10aV2ci64827zA8kZFBUoPO08Odk36s1nvUTsqp0mstkWqtkK22lH
At7ECx5B62iXG3hmTl5HMSVcdZXggW+B5h7MtLzlzQYvUDDSxy5f3kcsMKIYtkba
kGNBmTv/vt8MXWduUaJloLWJqSX5Q24EP7O8Ikx2eG8/cyVWFldrUZ0AEQEAAYkC
HwQYAQIACQUCUJGXUgIbIAAKCRChAn/thaXO0zpeD/96Vqcnres7WFo3TvXkHGnD
9VljiDgx+wUPRaAV4mXbiazgaPxvuHI4rgaP3ST2mRazWB0ABWrwY2o2J0lyyFgg
2PrcO4lFtXz/QSzMNrqSW9V+7FWe29XNrFjw7d06cGMyfU2RBjCPxw9kujguQ+gm
td4xn7zZ+g4nuCPePzN/yKtTmDbgntovYsE5/8eey+jMpEalJ4xG+jmJkszsExSJ
TS7ruENRmTcWFx5rHJ2QyKrFEjUC9KmXhXyFl02H9o0IQBYRNAzWj7jA+6wB7Vk8
mzbEDQlKaPK7u34pK13RqyHIqm+lGBfURyQiYuag5fNoP8dHRTXDIDGrE3wTSgHB
zC7LgGVEwg8EWpfadP7N14mtTed8V7G/nFNsotiAYVulRe/I1DZJ90LMbuxSK0PX
U8B9fUx6lC7UFCfQOvg3Om1dGlq8cM/MxNRf+OhN5YwVyNaGgllkExbOhqrnJcXB
5ikGaBeEJTzC1zo3kRgqnBruffLlIvp4QDxSZwlvrALOHn3wxAEFg0DEaGV/TNp6
HDg1tV/aRdB9hX3B+5KnZ2YjfpaG6KsbWf4nmh2Vat35Dmng4BQzIhC/8b+w0LTG
HDosOZZkY5El5EwhiguurLuJUld0Pf6u+WTsfxqdRtUJx9aOuqFkvnqpdQ7jV8IE
D9zGiXwKqDqtIzGgduwEgg==
=p24Y
-----END PGP PUBLIC KEY BLOCK-----
</p>
