<h1>About Me</h1>

<h2>The Basics</h2>

<p>I'm 24 years old and have a Bachelor of Computer Science from the <a href="http://www.ubc.ca" title="University of British Columbia">University of British Columbia</a>.</p>
<p>I live in Victoria, British Columbia, with my girlfriend Chelsea who is in her third year of the <a href="http://www.med.ubc.ca/faculty_staff/deansoffice/Island_Medical_Program.htm" title="Island Medical Program">Island Medical Program</a>.  Most of our friends and family live in Vancouver so we visit there fairly often.</p>

<h2 style="clear: both;">Work</h2>

<p>I develop web applications for <a href="http://www.tpsgc-pwgsc.gc.ca/comm/index-eng.html" title="Public Works and Government Services Canada">Public Works and Government Services Canada</a> which is a department of the Canadian federal government.</p>
<p>I occasionally do contract work on the side for local entrepreneurs and my brother-in-law Geoff who lives in Australia.</p>

<h2 style="clear:both;">Interests</h2>

<p>In the summertime I like to ride my bicycle, hike, camp, play tennis, swim, travel, and lounge out in the sun.  In the winters I spend more time watching movies and reading books, blogs and <a href="http://en.wikipedia.org/wiki/Main_Page" title="Wikipedia">Wikipedia</a> articles.</p>
<p>My taste in music is pretty diverse. I'll enjoy just about anything depending on my mood.</p>

<h2 style="clear:both;">Philosophy</h2>

<p>I'm an optimist.  The more I learn and discover what's already been accomplished, the more I appreciate the magnitude of human achievement and potential.  You'd be pretty hard pressed to find something that I would consider uninteresting.</p>
<p>I try to lead a relatively simple, low-impact lifestyle.</p>