<style>
  div.news {
    width: 55em;
  }

  div.sidebar {
    width: 14em;
  }

  div.sidebar div {
    text-align: center;
    width: 100%;
  }
</style>

<div class="right sidebar">
  <div>
    <img src="/images/me.jpg" alt="Adam Soltys" title="Me" />
  </div>

  <p>
    Thanks for visiting my homepage.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions. 
  </p>
</div>


<div class="news left">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="date"><%= post.created_at.strftime('%B %d, %Y') %></div>
      <%= post.body %>

      <% if logged_in? %>
      <p>
        <%= link_to 'Edit', edit_post_path(post) %>
      </p>
      <% end %>
    </div>
  <% end %>

  <% if logged_in? %>
    <p>
      <%= link_to 'Add Post', new_post_path %>
    </p>
  <% end %>
</div>
