<% title('Lists') %>

<% content_for :head do %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "lists" %>
<% end %>

<img id="book" class="framed right" src="/images/book.jpg" title="Old Book" alt="Old Book" />

<h2>Books I'd Like To Read</h2>

<ul>
  <li>Atlas Shrugged - Ayn Rand</li>
  <li>The God Delusion - Richard Dawkins</li>
	<li>Things Fall Apart - Chinua Achebe</li>
	<li>Slaughterhouse-Five - Kurt Vonnegut</li>
	<li>Tristes Tropiques - Claude L&egrave;vi-Strauss</li>
	<li>El Se&ntilde;or Presidente - Miguel &Aacute;ngel Asturias</li>
	<li>The Pillars of the Earth - Ken Follett</li>
	<li>A Passage to India - E.M. Forster</li>
	<li>A Farewell to Arms - Ernest Hemingway</li>
	<li>Love in the Time of Cholera - Gabriel Garcia Marquez</li>
	<li>Northern Lights / The Golden Compass - Philip Pullman</li>
	<li>The Call of Cthulu - H.P. Lovecraft </li>
	<li>Hill of Dreams - Arthur Machen</li>
	<li>The Count of Monte Cristo - Alexandre Dumas</li>
	<li>The League of Extraordinary Gentlemen - Alan Moore</li>
	<li>Naked Lunch - Tim Burroughs</li>
  <li>How to Sail Around the World - Hal Roth</li>
  <li>The Bible</li>
  <li>The Bhagavad Gita</li>
  <li>The Qur'an</li>
</ul>

<h2>Books I've Read Recently</h2>

<h3>Liked and Finished</h3>

<ul>
  <li>World Religions - Michael D. Coogan</li>
	<li>Three Cups of Tea - Greg Mortensen</li>
	<li>The Sun Also Rises - Ernest Hemingway</li>
	<li>20,000 Leagues Under the Sea - Jules Verne</li>
	<li>The Spirit Tracker - Norm Pratt</li>
	<li>The Shadow of the Sun: My African Life - Ryszard Kapuscinski</li>
	<li>Tales of Horror and the Supernatural - Arthur Machen</li>
	<li>The Catcher in the Rye - J.D. Salinger</li>
	<li>On The Road - Jack Kerouac</li>
	<li>The Old Man and the Sea - Ernest Hemingway</li>
	<li>100 Years of Solitude - Gabriel Garcia Marquez</li>
	<li>For Whom The Bell Tolls - Ernest Hemingway</li>
	<li>The Undercover Economist - Tim Harford</li>
	<li>The No. 1 Ladies Detective Agency - Alexander McCall Smith</li>
	<li>Still Life with Woodpecker - Tom Robbins</li>
	<li>The Kite Runner - Khaled Hosseini</li>
</ul>

<h3>Attempted but Didn't Get Through</h3>

<ul>
  <li>Life After God - Douglas Coupland</li>
	<li>The Alexandria Quartet - Lawrence Durrell</li>
	<li>The Communist Manifesto - Karl Marx and Friedrich Engels</li>
	<li>A Confederacy of Dunces - John Kennedy Toole</li>
	<li>The Gum Thief - Douglas Coupland</li>
	<li>Midnight's Children - Salman Rushdie</li>
	<li>Hey Nostradamus - Douglas Coupland</li>
	<li>A History of Western Philosophy - Bertrand Russell</li>
	<li>A New Kind of Science - Stephen Wolfram</li>
	<li>Collected Short Stories - Edgar Allan Poe</li>
</ul>

<h2>Movies I Want to See</h2>

<ul>
  <li>Slumdog Millionaire</li>
  <li>Gran Torino</li>
  <li>Idiocracy</li>
	<li>Everything is Illuminated</li>
	<li>Stardust</li>
	<li>Control</li>
	<li>Malcolm X</li>
	<li>The Entertainers</li>
	<li>Rebecca</li>
	<li>The LadyKillers</li>
	<li>Safe</li>
	<li>Ghost World</li>
	<li>Broken English</li>
	<li>The Lost Boys</li>
	<li>Cannibal Holocaust</li>
	<li>Leolo</li>
	<li>Farewell my Concubine</li>
	<li>Baron Munchhausen</li>
	<li>The Princess Bride</li>
	<li>Sneakers</li>
</ul>

<h2>Movies I've Seen Recently</h2>

<h3>New Releases I Liked</h3>

<ul>
  <li>The Curious Case of Benjamin Button</li>
  <li>Pineapple Express</li>
  <li>Changeling</li>
	<li>Burn After Reading</li>
	<li>Smart People</li>
	<li>Vicky Cristina Barcelona</li>
	<li>Gone Baby Gone</li>
	<li>The Diving Bell and the Butterfly</li>
	<li>Long Way Round (T.V. Series)</li>
	<li>Dark Knight</li>
	<li>Indiana Jones and the Kingdom of the Crystal Skull</li>
	<li>Ironman</li>
	<li>The Savages</li>
	<li>Forgetting Sarah Marshall</li>
	<li>Ben X</li>
	<li>In Bruges</li>
	<li>Dan in Real Life</li>
	<li>Definitely, Maybe</li>
	<li>Planet Earth (T.V. Series)</li>
	<li>There Will be Blood</li>
	<li>Into the Wild</li>
	<li>No Country for Old Men</li>
	<li>The Darjeeling Ltd.</li>
	<li>Pan's Labyrinth</li>
	<li>Zodiac</li>
</ul>

<h3>New Releases I Wouldn't Recommend</h3>

<ul>
  <li>Zeitgeist</li>
	<li>The Sisterhood of the Travelling Pants 2</li>
	<li>Chaos Theory</li>
	<li>The Bucket List</li>
	<li>Tropic Thunder</li>
	<li>Wall-E</li>
	<li>Lars and the Real Girl</li>
	<li>Across the Universe</li>
	<li>The Assasination of the Outlaw Jesse James by the Coward Robert Ford</li>
	<li>Margot's Wedding</li>
	<li>Poor Boy's Game</li>
	<li>Atonement</li>
	<li>3:10 to Yuma</li>
	<li>Venus</li>
	<li>A Good Year</li>
	<li>Charlie and the Chocolate Factory</li>
</ul>

<h3>Oldies</h3>

<ul>
  <li>Trainspotting</li>
  <li>Point Break</li>
	<li>Something About Mary</li>
	<li>The Bridge on the River Kwai</li>
	<li>Hamlet (Laurence Olivier)</li>
	<li>My Left Foot</li>
	<li>An Affair to Remember</li>
	<li>My Best Friend's Wedding</li>
	<li>Blue Velvet</li>
	<li>Once Upon a Time in the West</li>
	<li>One Flew over the Cuckoo's Nest</li>
	<li>Jaws</li>
	<li>The Passenger</li>
	<li>Five Easy Pieces</li>
	<li>Bande &aacute;part</li>
	<li>The Wild Bunch</li>
	<li>Straw Dogs</li>
	<li>A Streetcar Named Desire</li>
	<li>The Searchers</li>
	<li>Singin' in the Rain</li>
	<li>Deliverance</li>
	<li>The Godfather</li>
	<li>Tokyo Story</li>
	<li>Citizen Kane</li>
	<li>8 1/2</li>
	<li>Annie Hall</li>
	<li>Manhattan</li>
	<li>Blood Simple</li>
	<li>Henry V (Laurence Olivier - 1944)</li>
	<li>Leon</li>
	<li>Miller's Crossing</li>
	<li>Harold and Maude</li>
	<li>The Rules of the Game</li>
	<li>Seven Samurai</li>
	<li>M</li>
</ul>


