<% title('Resume') %>

<div class="resume">	
	<h2>Experience</h2>
	
	<div>
		<p class="position"><a href="http://pwgsc.gc.ca" title="PWGSC Website">Public Works and Government Services Canada</a></p>
		<p class="title">Systems Analyst</p>
		<p class="dates">February 2007 - Present</p>
				
		<ul class="responsibilities">			
			<li>Took on the role of lead developer for several ColdFusion-based web applications</li>
			<li>Introduced programming frameworks, version control software and project management tools to improve code quality and team efficiency</li>
			<li>Led informal training and mentoring sessions to facilitate sharing of technical knowledge amongst team members</li>
			<li>Administered Windows and RedHat servers</li>
			<li>Worked with clients, managers, users, developers and contractors to ascertain business requirements, develop implementation plans, and keep projects running smoothly</li>
		</ul>
	</div>
	
	<div>
		<p class="position"><a href="http://www.mda.ca/" title="MDA Website">MacDonald Dettwiler and Associates</a></p>
		<p class="title">Software Engineer</p>
		<p class="dates">September 2004 - December 2005</p>
		
		<ul class="responsibilities">
			<li>Worked with a team of thirty engineers to deliver award-winning software used by the US Air Force to create terminal flight procedures</li>
			<li>Designed and implemented obstacle and terrain analysis algorithms and API following consultation with senior requirements engineers</li>
			<li>Wrote test manuals and automated test scripts to verify thousands of complex domain requirements</li>
			<li>Helped to develop and improve a large C++ codebase</li>
		</ul>
	</div>
	
	<div>
		<p class="position"><a href="https://www.elearning.ubc.ca/home/index.cfm" title="UBC e-learning Website">UBC Centre for Instructional Support</a></p>
		<p class="title">Web Programmer</p>
		<p class="dates">January 2003 - August 2003</p>
		
		<ul class="responsibilities">
			<li>Designed and developed UBC's main e-learning portal and several course websites using PHP</li>
			<li>Created interactive video tutorials and lessons using Flash and screen capture software</li>
			<li>Introduced wikis and blogs to support communication between faculty and e-learning program coordinators</li>
		</ul>
	</div>
	
	<h2>Education</h2>
	
	<div>
		<p class="position"><a href="http://www.ubc.ca/" title="University of British Columbia">University of British Columbia</a></p>
		<p class="title">Computer Science Major</p>
		<p class="dates">September 2001 - May 2007</p>
		
		<ul class="accomplishments">
			<li>Obtained bachelor of computer science with honours</li>
			<li>Completed the computer science co-op work placement program</li>
		</ul>
	</div>
</div>

