<h1>Work</h1>

<div class="post">
  <p>Some technical blog posts</p>
</div>

<div class="projects">
  Various project thumbnails and summaries linking to case studies
  <div class="code">
    Source code repository. Links to redmine.
  </div>
</div>

<div class="team">
  Description of my work and AMITOS team
</div>


<h2>The Team</h2>

<div class="person">
  <span class="fn">George Pastuszenko</span>
  George is the big boss man.  He reports to headquarters in Ottawa and is
  responsible for managing our budget.  George makes sure the team is provided 
  for as far as office space, equipment, and software goes.  He also handles 
  basic managerial duties like resourcing and employee development.
</div>

<div class="person">
  <span class="fn">Allan Gold</span>
  Allan is our project manager.  We report to him on the status of all projects
  so that he can manage our workloads and interface with the clients.  Allan
  is our go-to man when we have a problem and is also an endless source of
  comic relief.
</div>

<div class="person">
  <span class="fn">Shila Asnani</span>
  Shila is our senior analyst.  She`s seen it all and is now a tireless 
  defender of quality and rigour.  She keeps the rest of team in line and 
  makes sure that we keep our projects documented and well tested.
</div>

<div class="person">
  <span class="fn">Adam Soltys</span>
  That`s me.  I`m our lead developer which means I have my head buried in code
  a lot of the time.  I manage our servers, keep us on top of the latest
  technology, and make high-level design decisions for most of our projects.
</div>

<div class="person">
  <span class="fn">Arash Afrooze</span>
  Arash is my partner in crime.  We will often work together to design various 
  technical solutions and then we`ll split off to work on different parts
  of the system.  We keep in touch frequently and help each other out when we
  hit problems.
</div>

<div class="person">
  <span class="fn">Lois Chan</span>
  Lois is a feared code ninja and acts as the final member of our development 
  triumvirate.  An extraordinary literati and explosive enigma, no one quite 
  understands how she operates.  We can only bear silent witness as she churns 
  out feature after feature on our most complicated projects.
</div>

<div class="person">
  <span class="fn">Joao Borralho</span>
  João is a talented renaissance man.  He joined us from the "other side" of
  the office where he used to be a workstation support guru and friendly
  helpdesk operator.  His exceptional good taste and background in interactive 
  arts means he's our dumping ground for anything non-programming related,
  although he often helps out with programming too.ã
</div>


