<h1>Work</h1>

<div class="post">
  <p>Some technical blog posts</p>
</div>

<div class="projects">
  Various project thumbnails and summaries linking to case studies
  <div class="code">
    Source code repository. Links to redmine.
  </div>
</div>

<div class="team">
  Description of my work and AMITOS team
</div>




