<h1>Work</h1>

<div class="post">
  <p>Some technical blog posts</p>
</div>

<div class="projects">
  Various project thumbnails and summaries linking to case studies
  <div class="code">
    Source code repository. Links to redmine.
  </div>
</div>

<div class="team">
  Description of my work and AMITOS team
</div>


<h2>The Team</h2>

<div class="person">
  <span class="fn">George Pastuszenko</span>
  George is the big boss man.  He reports to a director in headquarters in
  Ottawa.  George makes sure the team is provided for as far as office space,
  equipment, and software.  He handles your basic managerial duties like hiring
  and firing, resourcing, and employee development.
</div>

<div class="person">
  <span class="fn">Allan Gold</span>
  Allan is our project manager.  We report to him on the status of all projects
  so that he can manager our workloads and interface with the clients.  Allan
  is our go-to man when we have a problem and is also an endless source of
  really corny jokes.
</div>

<div class="person">
  <span class="fn">Shila Asnani</span>
  Shila is a tireless defender of rigour and protocol.  She keeps the team in 
  line and plays makes sure that we keep our code well documented and well
  tested.
</div>

<div class="person">
  <span class="fn">Adam Soltys</span>
  That`s me.  I`m our lead developer which means I have my head buried in code
  a lot of the time.  I manage our servers, keep us on top of the latest
  technology, and advise the rest of the developers on design decisions etc.
</div>

<div class="person">
  <span class="fn">Arash Afrooze</span>
  Shila is a tireless defender of rigour and protocol.  She keeps the team in 
  line and plays makes sure that we keep our code well documented and well
  tested.
</div>

<div class="person">
  <span class="fn">Lois Chan</span>
  Shila is a tireless defender of rigour and protocol.  She keeps the team in 
  line and plays makes sure that we keep our code well documented and well
  tested.
</div>

<div class="person">
  <span class="fn">Joao Borralho</span>
  Shila is a tireless defender of rigour and protocol.  She keeps the team in 
  line and plays makes sure that we keep our code well documented and well
  tested.
</div>


