<h1>Edit Execution</h1>

<%= error_messages_for :execution %>

<% form_for(@execution) do |f| %>
  <p>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<br />
		<%= f.submit "Update" %>
  </p>
<% end %>

