<div id="sidebar" class="right">
  <img src="/images/me.jpg" alt="Adam Soltys" title="Me" />

  <p>
    Thanks for visiting my homepage.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions.
  </p>

  <p>
    <a type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/asoltys" title="Atom Feed" style="border: none"><img class="rss" alt="RSS Icon" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png"/></a>
    <a type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/asoltys" title="Atom Feed">Subscribe to my blog</a>
  </p>
</div>
